[2019-07-27 10:47] dorothykiz1 opened #4 "git push error"
am getting this error when I try to push kindly help

remote: Permission to python-sprints/pandas-mentoring.git denied to dorothykiz1.
fatal: unable to access 'https://github.com/python-sprints/pandas-mentoring.git/': The requested URL returned error: 403

[2019-07-27 10:53] datapythonista commented on #4
Good job on reaching that point @dorothykiz1, that was expected, the workflow you need to follow is counter-intuitive in that part.

@martinagvilas, @sparalic, @galuhsahid do you mind helping @dorothykiz1 with this?

[2019-07-27 12:12] martinagvilas commented on #4
Hi @dorothykiz1, did you fork the pandas-mentoring repository into your own github account? This might be the issue. You should fork the repository, push the changes you made first to your fork, and then create a pull request from there. See https://stackoverflow.com/questions/17857283/permission-denied-error-on-github-push for an overview of the steps.

[2019-07-27 12:44] dorothykiz1 commented on #4
Thank you @martinagvilas this could be possibly my problem had not forked thank you let me try again

[2019-07-27 13:37] datapythonista commented on #4
@dorothykiz1 if you resolved this problem (I think you did), feel free to close this issue.

[2019-07-27 13:38] dorothykiz1 commented on #4
Sure

[2019-07-27 13:38] #4 closed

[2019-07-27 18:52] datapythonista opened #12 "Copy the documentation about contributing to pandas to this repository"
There is a directory `doc/source/development` in pandas that contains few files with the documentation on how to contribute. That documentation is kind of all right, and contains useful information, but could be easily improved, and make it easier for anyone to follow (including ourselves).

What we can do is to copy that documentation in this repository, improve it here in an iterative way, and t

[2019-07-27 21:32] datapythonista opened #17 "Create conda dependencies file with sphinx"
Once we start changing the pandas contribution documentation (#12) we'll have to generate the html version of it. This is being done in most Python projects with [Sphinx](http://www.sphinx-doc.org/en/master/). To make it easier to create a development environment for this, we can use conda, and specify the dependencies in a file named `environment.yml`. We can base it on the pandas one, but for no

[2019-07-28 22:29] datapythonista opened #31 "Set up sphinx to build the documentation"
Once #12 and #17 we should have sphinx set up to be able to convert our markdown documentation into its html version.

Documentation for sphinx is available at: http://www.sphinx-doc.org/en/master/

[2019-07-28 22:33] datapythonista opened #32 "Set up azure-pipelines to automatically build and publish the documentation"
After #31 is complete, we should set up a continuous integration system (azure-pipelines) to automatically build the documentation to html, and publish it in a website, every time there are changes.

[2019-07-29 00:27] martinagvilas commented on #12
Cool! But I have a very basic question: to copy the documentation files in our repository, should we fork the whole pandas repository? Or is it possible to only fork this specific subdirectory?

[2019-07-29 00:42] galuhsahid commented on #31
Can I work on this issue? Thank you!

[2019-07-29 01:15] smiaa commented on #12
How to copy the pandas documentation in this repository? If I fork it, for example, won't it appear under my user?

[2019-07-29 03:10] bhavaniravi commented on #32
I wanted to learn CI for a long time. I would love to work on this.

[2019-07-29 03:28] sparalic commented on #32
I would love to work on this with @bhavaniravi as well.

[2019-07-29 05:43] sparalic commented on #12
I took a stab at this using Github's subversion feature to only copy the `dev/source/development` folder, using this solution  I submitted a PR for the branch: https://stackoverflow.com/questions/7106012/download-a-single-folder-or-directory-from-a-github-repo

Please let me know if this is what you were asking.

[2019-07-29 07:48] dujm commented on #17
I just did this and I would like to explain how I did it (easier for discussions)

 * I created an **environment.yml** file in my editor
 * Copied the content from [pandas/environment.yml](https://github.com/python-sprints/pandas/blob/master/environment.yml)
 * Change the name to **pandas-mentoring**

[code]
@datapythonista  Marc, if I understand ([#12](https://github.com/python-sprints/pandas-men

[2019-07-29 09:43] datapythonista commented on #31
Please do @galuhsahid :)

[2019-07-29 09:49] datapythonista commented on #17
Thanks @dujm that sounds perfect. What you propose makes sense.

If we want an `environment.yml` for every task we do in this repo, having it in `doc/source/development` is probably the best. But if we want a single `environment.yml` for everything we do, then the root of the repo is probably the best. That's up to you, but the `name` in the file should probably be consistent with the decision.

A

[2019-07-29 10:26] datapythonista commented on #12
I'm open to any idea here, but something as simple as cloning the pandas repository independently, and copy the 4 (I think) files of the contributing docs, to this repo, and open a PR with that, is good enough for now. If we do this approach, and we keep an independent copy, then it'd be useful to check which was the version of pandas (last commit hash) of the copied files. This way we will be abl

[2019-07-29 10:28] datapythonista commented on #32
Great, let me know if you have any question.

[2019-07-29 15:35] dujm commented on #17
Thanks @datapythonista for your clear instruction! Now I plan to:
 * use the name ```pandas-dev``` , the same as the name in the [pandas/environment.yml](https://github.com/python-sprints/pandas/blob/master/environment.yml)  (Previously, I thought I should gave a different name)
 * remove the ```#required``` dependencies in the ```environment.yml ```
[code]
 * push the ```environment.yml ```in the

[2019-07-29 16:07] datapythonista commented on #17
That sounds great. The name `environment.yml` is useful (and standard), because then you can do:
[code]
and it'll look if that file exists, and create the environment from it. If it has a different name, then you need to add a `-n pandas_docs.yaml`.

When you open the PR, You can add `Closes #17`, and if I'm not wrong, the issue will be automatically closed when we merge the PR. May be something n

[2019-07-29 16:35] dujm commented on #17
Thanks! @datapythonista
Just to make sure I get it right, so what env name should I write in the ```environment.yml```? Is ``` pandas-docs``` ok? (Or maybe you have suggested a name, but I missed it ;) )

[code]

[2019-07-29 16:41] datapythonista commented on #17
I didn't, `pandas-docs` or `pandas-mentoring` are fine. Anything other than `pandas-dev` that is easy to remember, and not likely to conflict with other environments is fine.

I'm going to review your PR, so feel free to open it even if you're unsure, and I'll comment on it. I think it'll be perfect after the discussions, but in general feel free to open PRs even for things you don't know if there

[2019-07-29 16:57] dujm commented on #17
@datapythonista  yes, I think you totally understood why I was writing all these messages before sending a PR. Now I get it :) Thanks!

[2019-07-29 17:01] sparalic commented on #12
@datapythonista once I clone the repo and copy the files to this repo is it fair to assume that the history will be maintained?

[2019-07-29 17:21] datapythonista commented on #12
No, not really, but we probably don't care about the history of those files. What we are doing is useful but a bit hacky. You can just copy them here as if you received them by email. We're going to build a new contributing documentation, and for now we don't care about pandas. But we'll use what's there for convenience. But there won't be any connection between the pandas repo and this one.

[2019-07-29 21:37] sparalic commented on #12
@datapythonista. Perfect, these sprints are definitely teaching me git best practices! Thank you again.

[2019-07-30 09:05] #12 closed

[2019-07-30 09:06] #17 closed

[2019-07-30 14:38] bhavaniravi commented on #32
Hi, @datapythonista I understood how `azure-pipelines` work with GitHub and tried to set one up with my personal account pointing to the forked repo.

I have a couple of questions
1. Are we going to use a common MS account to set these things up
2. I am looking at azure pipelines in pandas repo and removed the unwanted parts not sure if I should remove `Checks` job as well
3. The last stage of the

[2019-07-30 15:44] datapythonista commented on #32
You can decide about how to manage the permissions / account. You can create a new Azure account and share the credentials with the group, or create with your user, and give admin permissions to some or all people. Not sure if there is any other option.

I'd start very very simple. I'm sure you can start with already complex jobs copied from pandas, and have useful things, but the thing I care the

[2019-07-30 15:46] datapythonista commented on #31
@galuhsahid if you face any problem let me know. Dealing with sphinx is sometimes extremely annoying, don't feel like you need to deal with it by yourself.

[2019-07-30 16:11] bhavaniravi commented on #32
Understood. Let me reiterate and get back.

[2019-07-31 10:00] datapythonista commented on #31
@MKhalusova in general it's a good practice to mention in an issue when you plan to work on something, so other people is aware and there is no repeated work. Not really important in this case, since I'm actually encouraging that everybody works on all issues at the same time, but probably worth to get used to those things anyway.

Also, since @galuhsahid started working on this, probably nice to

[2019-07-31 12:11] Aya-S opened #55 "Create gitter channel for pandas-mentoring"
Create a gitter channel to aid in collaborating on issues among the pandas-mentoring members

[2019-07-31 12:15] Aya-S opened #56 "Add link to gitter channel created in issue #55 to "README.md""

[2019-07-31 12:20] datapythonista commented on #56
Thanks @Aya-S for creating the issues. If you also add the issue number #55 in the description of the issue, that would not only create a link to easily go there, but will also create a issue in #55 to this one, so anyone reading that issue knows there is another one related.

I think it's common to use:

xref #55

But how you reference it it's not really important, I think.

[2019-07-31 12:22] datapythonista commented on #55
@python-sprints/pandas-mentoring do you think the channel should be public or private? Everybody in the group will be able to join both ways, the difference is whether anyone else could be able to read the messages, join and comment.

I'm happy with whatever you decide.

[2019-07-31 12:22] Aya-S commented on #56
ok, good to know!
will note that in future issues.

[2019-07-31 12:24] Aya-S commented on #55
I think, as a start, it should be private.

[2019-07-31 12:34] dujm commented on #55
How about we try a vote under @datapythonista 's message ? Add a :smile: to vote for public, :eyes: for private?

[2019-07-31 12:41] Aya-S opened #57 "Add "Things we learned" heading to README.md"
Add a new header "Things we learned" to list the lessons learned.

[2019-07-31 12:45] datapythonista commented on #57
there is already some work on this in #54

[2019-07-31 13:39] smiaa commented on #55
I think it could be private for now.

On Wed, 31 Jul, 2019, 6:04 PM DJ, <notifications@github.com> wrote:

[2019-07-31 13:55] martinagvilas opened #58 "Creating a Contributing.md"
Hi! I was wondering if it might be helpful to create a markdown detailing how to contribute to this repository. Maybe this is too meta (creating a contributing guideline to work in a repository that in the end will make changes to the contributing guideline of pandas), but I've seen lots of great advices from Marc and others on how to create better issues or PRs and how to style them, and thought

[2019-07-31 13:56] martinagvilas commented on #58
Well, now I realize this is something that is also on the wiki. Perhaps I could add these advices there instead of in a separate markdown?

[2019-07-31 14:03] sparalic commented on #58
@martinagvilas I think we can add a table of contents, and build sections with different topics ranging from how to get started with your first PR (like @dujm already did) and lessons learned etc. This way we have a one stop shop for all things pandas.

[2019-07-31 14:05] MKhalusova opened #59 "Add .gitignore to the project"
Add gitignore and include html files generated with sphynx there.

[2019-07-31 14:07] datapythonista commented on #58
I'm +1 on having a `CONTRIBUTING.md` in the repo, and not in the wiki (I think I was the one suggesting the wiki initially).

To start it could be as easy as moving the document from @dujm. Then we can keep improving it and adding new things in separate PRs.

[2019-07-31 14:25] sara-02 commented on #59
@MKhalusova @datapythonista Can I take this up?

[2019-07-31 14:30] datapythonista commented on #59
absolutely @sara-02, go for it!

It's great to ask, so we coordinate. But at this point feel free to work in anything you want to learn. Even if many people work in the same, and at the end we can only merge a PR, if you are going to learn when working in something, it's surely worth it.

[2019-07-31 14:45] martinagvilas commented on #58
Great! I will start working on it, using the document from @dujm and adding the suggestions of @sparalic

[2019-07-31 14:53] datapythonista commented on #58
Cool. Just in case you haven't seen it, the wiki is already a markdown. If you click on edit, you should be able to see the markdown code of the page.

[2019-07-31 15:00] sparalic commented on #58
@martinagvilas I will help you pull out some of the great feedback @datapythonista gave us during our first sprint. Do you want to call this a “best practices” or common gottchas?

[2019-07-31 15:05] martinagvilas commented on #58
@sparalic great! Let me upload the markdown template based on the wiki one so we can edit it together. I like both titles, but I think "best practices" will be clearer, specially for non-native english speakers :)

[2019-07-31 18:26] enfageorge opened #68 "fix the slight typo in markdown in Aya's username addition."
Just clean out space in between @Aya-S . Markdown doesn't have space between the link text in square brackets and the link in normal brackets.

[2019-07-31 22:17] #59 closed

[2019-07-31 22:59] Aya-S commented on #68
I was checking some of the PRs and this should be fixed when one of the existing PRs gets merged. This is mainly the reason why I didn't create a new PR to fix the issue.

[2019-07-31 23:50] Aya-S opened #70 "Discuss PR review conventions"
Discuss:
- How many reviews and approvals we want to enforce before a PR is cleared for a merge, if any?
- Should this be enforced through git settings?

[2019-08-01 09:35] dujm commented on #70
I would suggest:
 * Two (I like getting a 2nd opinion :) )
 * No (To be flexible)

[2019-08-01 09:46] datapythonista commented on #70
If two reviewers means one approving, and the second can merge, what @dujm proposes is what pandas is currently doing.

[2019-08-01 09:48] WuraolaOyewusi commented on #70
I agree with @dujm .

[2019-08-01 10:01] datapythonista commented on #55
I created the gitter channel, for now it's public, but if the votes change and we want to make it public later, we can easily do that later.

The url is: https://gitter.im/py-sprints/pandas-mentoring

I think people in the @python-sprints/pandas-mentoring organization should be able to join, for the rest not sure if you can request access, or need to be added manually. We'll figure it out, and we'

[2019-08-01 11:09] galuhsahid commented on #55
I'm somehow not able to access the channel, it says "404. This is not the chat you're looking for. Sorry. :("

[2019-08-01 11:17] datapythonista commented on #55
gitter permissions are not great. I selected a checkbox so anyone in the organization could join, but not sure how it's supposed to work.

I added you (@galuhsahid) and @bhavaniravi as admins of the python-sprints gitter, feel free to add people to the channel, change setting, and make it more efficient for people to join, if you find a way.

[2019-08-01 13:01] datapythonista opened #74 "Copy alternative pandas setup instructions"
In #41, we added the official pandas documentation for contributing.

A bit more than a year ago, we organized a [worldwide pandas sprint](https://python-sprints.github.io/pandas/) to improve the documentation, and since the pandas official documentation wasn't great for beginners, we built an alternative page on how to set up the pandas development environment.

This documentation should be used,

[2019-08-01 13:08] datapythonista opened #75 "Add link to the new learning points page from the README"
We recently added this document: https://github.com/python-sprints/pandas-mentoring/blob/master/LEARNING_POINTS.md

It's probably worth to add a link to it from the README file.

[2019-08-01 14:31] sparalic commented on #70
I agree:
Two approves: 1 approve and 1 merge
No: I am not a fan of enforcing strict rules (hehe), of course unless needed

[2019-08-01 14:32] sparalic commented on #75
@datapythonista I’ll work on this later today

[2019-08-01 14:55] Ayowolet commented on #74
I'd like to attempt this

[2019-08-01 20:55] Aya-S commented on #68
I will create a PR for this now

[2019-08-01 21:05] Aya-S commented on #56
will add : https://gitter.im/py-sprints/pandas-mentoring
to README.md

[2019-08-01 21:05] #57 closed

[2019-08-02 04:39] enfageorge opened #80 "Select a Name for the Team"
Please comment names you see fit for the team and react to those you love.

[2019-08-02 04:39] beingenfa commented on #80
@sparalic suggested Pandanistas

[2019-08-02 11:16] dujm commented on #80
pandas-feeder? (Or maybe not serious enough? ;) )

[2019-08-02 12:05] datapythonista opened #82 "pandas issue: typo in roadmap"
Just realized that the recently created pandas roadmap has a typo. In the section https://dev.pandas.io/development/roadmap.html#decoupling-of-indexing-and-internals the `uses` word is duplicated.

If anybody here wants to fix that, you should already know how to open a PR not using `master` ;)

Please add a comment in this issue if you're taking this, and if someone does don't also work on the sa

[2019-08-02 12:47] MKhalusova commented on #55
I followed the url, got 404, clicked on Sign-in. Now, I have an issue with what I see on the Sign-in screen. It says: "This application will be able to read your organization, team membership, and private project boards."
And the organization it shows is the company I work for, nowhere do I see "pandas-mentoring".
I'm not familiar with gitter and I'm not sure my company would be super happy if I g

[2019-08-02 12:57] MKhalusova commented on #82
I can take this.

[2019-08-02 12:58] #68 closed

[2019-08-02 13:01] datapythonista commented on #55
That doesn't sound reasonable, but not much idea about that. I don't remember accepting that (may be I just don't have a private organization associated to my github user). Can you access the public channels without accepting that, like pandas?

[2019-08-02 13:08] datapythonista commented on #55
I see that you can also sign up with gitlab or twitter, may be that's an option for now?

[2019-08-02 13:11] MKhalusova commented on #82
@datapythonista when creating a PR, I get pre-filled description
- [ ] closes #xxxx
- [ ] tests added / passed
- [ ] passes `black pandas`
- [ ] passes `git diff upstream/master -u -- "*.py" | flake8 --diff`
- [ ] whatsnew entry

What am I supposed to do with it if it's just a fix for a typo in an .rst file? Just delete it? cause it doesn't make sense in this context really. Or should I leave it a

[2019-08-02 13:13] datapythonista commented on #82
In this case nothing applies, so I think leaving it as is, or removing it are both correct options. I usually remove it for a change like this.

[2019-08-02 13:16] MKhalusova commented on #82
Thanks! Created a PR: https://github.com/pandas-dev/pandas/pull/27710

[2019-08-02 13:21] datapythonista commented on #82
Approved it already. :)

Even for something that small the process is usually to wait for the CI to be green (it takes around 30 minutes, and some times fails for things unrelated to the PR), then one maintainer approves, an another one merges. The most senior maintainers would probably merged if it's a typo even if it's not approved.

Welcome to the pandas team, feel free to close this issue once

[2019-08-02 13:30] MKhalusova commented on #55
I don't have a gitlab account. I tried with Twitter, and it still ends up asking me to give it access to my company's private repo. I have an idea as to why this may be happening. Perhaps I'm not part of pandas-mentoring organization, so gitter can't find the board, and it ends up trying to look in other private spaces?

[2019-08-02 13:31] MKhalusova commented on #82
Woohoo! This feels great! 💃
<img width="798" alt="Screen Shot 2019-08-02 at 9 30 51 AM" src="https://user-images.githubusercontent.com/1065417/62373661-4a27d100-b508-11e9-81ef-c23572af3812.png">

[2019-08-02 13:33] MKhalusova commented on #82
I don't think I have permissions to close this issue though.

[2019-08-02 13:35] MKhalusova commented on #82
Never mind, now that I joined the organization, I can close the issue

[2019-08-02 13:35] #82 closed

[2019-08-02 13:36] datapythonista commented on #82
added you to the organization, hopefully that helps with this and with gitter :)

Btw, if you think it's useful, you can also add a section in the README (or a separate markdown) to have the list of pandas contributions we make. Not sure if it's a good idea or not.

[2019-08-02 13:39] MKhalusova commented on #55
I think I managed to connect gitter but now I get the same as @galuhsahid had: "404. This is not the chat you're looking for. Sorry. :("
Sigh.

[2019-08-02 13:59] galuhsahid opened #83 "Implement header in Sphinx"
As discussed in #51, we need a separate PR to implement `header`. I think we probably need to determine what the value should be, though, whether we should stick to panda's implementation or not (& if not what the value of `header` should be).

[2019-08-02 14:09] datapythonista commented on #83
For a bit of extra information...

In pandas the standard is to assume in all docs that pandas and numpy are already imported (as `pd` and `np`). I really hate the practices (both importing implicitly and using aliases), but that has been like this for years, and the rest of the maintainers prefer not to change it.

Since every file in the docs had those imports, and few things more, we ended up s

[2019-08-02 15:32] smiaa opened #84 "Error accessing gutter chanel"
After signing up into gitter using GitHub and granting access to repo, getting this error.
"404. This is not the chat you're looking for. Sorry. :("

[2019-08-02 15:33] smiaa commented on #55
Even I got the same error, I've created an issue for the same.

On Fri, 2 Aug, 2019, 7:09 PM MKhalusova, <notifications@github.com> wrote:

[2019-08-02 16:01] martinagvilas commented on #75
Shouldn't we also add these learning points into the contributing.md? In the end they are about how to make better PRs and issues. What do you think? Another possibility is that instead of adding them all to the contributing.md we could link to this document from there as well.

[2019-08-02 16:12] sparalic commented on #75
@martinagvilas, that's what I was trying to get a pulse on in my earlier message about duplication. But, I think @datapythonista thinks it might be better to keep them separated as it doesn't really matter at this point. Perhaps, we just make a section in the contributions file and add the contents of  this file (learning.md )to that section? Lmk

[2019-08-02 16:17] datapythonista commented on #75
No preference, I think it can make sense to have everything together. But also probably not a bad idea to have a formal document on how to do things, and also a "board" where people can share more informally what they're learning, whether is about git tricky things, pandas, organizational things, friendship, burn out, or whatever.

[2019-08-02 16:28] galuhsahid commented on #84
I've added you to the Gitter channel - can you please check again and let us know if you can access it?

[2019-08-02 16:41] galuhsahid commented on #55
For people who have joined the @python-sprints/pandas-mentoring organization, it seems like you first need to make your membership public by going to https://github.com/orgs/python-sprints/people and change your membership visibility from Private to Public (reference: https://github.com/CHME5137/github-assignment/issues/6)

[2019-08-02 16:44] galuhsahid commented on #31
Closed with #51

[2019-08-02 16:44] #31 closed

[2019-08-02 16:59] Ayowolet commented on #74
HI @datapythonista I'm sorry I haven;t been able to do this but I'll try to get it sorted tomorrow. I hope that's not too late... Thanks

[2019-08-02 18:23] galuhsahid commented on #75
I personally think it's better to have a specific document for learning points and keep the two (learning_points.md and contributing.md) separate, because as we progress we're going to learn more things outside of the scope of contributions. But yes, I do agree that all learning points related to contributions can be added to contributing.md - it can be very helpful for everyone contributing :)

[2019-08-02 21:53] Aya-S commented on #84
This will be the case for all of us who are not members of "python-sprints".I'm in the same position and I think only a few people have the needed permissions.
Can you please add us all as members? @galuhsahid

[2019-08-02 22:12] #58 closed

[2019-08-03 02:37] galuhsahid commented on #84
I'd be happy to do so! However I'm not sure if it's OK to just add people instead of them opting to do so, though. Anyone has any thoughts on this?

[2019-08-03 05:16] smiaa commented on #84
It worked for now. Thanks!!

On Fri, 2 Aug, 2019, 9:59 PM Galuh Sahid, <notifications@github.com> wrote:

[2019-08-03 10:04] Aya-S commented on #84
@galuhsahid  ok fair enough, maybe we should send an email asking people to opt-in and you then you can add whoever responds positively? how does that sound like to you?

[2019-08-03 10:19] galuhsahid commented on #84
@Aya-S That's a great idea - I think it will also raise visibility to the Gitter channel as well. I'll go ahead with that :) thanks!

[2019-08-03 10:19] #84 closed

[2019-08-03 12:40] Aya-S commented on #56
It renders fine on my branch but I'm no md expert. Will do the adjustment.

[2019-08-03 13:42] bhavaniravi commented on #32
Now that #83 is merged, back to working on this

[2019-08-03 16:14] dorothykiz1 commented on #80
Les Pandanistas

[2019-08-03 16:26] dorothykiz1 commented on #55
Hello all
am also getting a 404. This is not the chat you're looking for. Sorry. :(
Have a suggestion of  us considering  slack too if most of us are familiar with it or we could vote on this

[2019-08-03 16:32] datapythonista commented on #55
@dorothykiz1 I invited you to the pandas-mentoring organization, I think that should fix the problem (someone mentioned that you need to make public your membership for gitter).

Probably the best way to discuss about using slack is to create an issue.

Btw, `@ALL` is a GitHub organization from someone else (misleading, I know). You can use `@python-sprints/pandas-mentoring`. It doesn't include ev

[2019-08-03 16:36] dorothykiz1 commented on #55
Thanks, @datapythonista have edited @all part  and yes seen yo invitation let me see if it lets me in

[2019-08-03 17:10] BhagyaC commented on #55
@datapythonista gitter is for limited members ??

[2019-08-03 17:13] datapythonista commented on #55
Gitter is public, and our channel is for everybody in this group. But it was decided to make the channel private, and we're still figuring out how to get everybody in in an efficient way. So far we're manually adding people to our GitHub team as someone requests it, and then I think it's already possible to access the channel.

[2019-08-03 17:50] WuraolaOyewusi commented on #80
I like the frenchy vibe here. So Allez  'Les Pandanistas'

[2019-08-04 01:04] martinagvilas commented on #75
What @galuhsahid said makes total sense, +1 to that

[2019-08-04 01:08] martinagvilas opened #89 "Add learning points related to creating PRs and issues to the contributing.md"
I could work on adding to the contributing.md the learning points related to PRs and issues creations (as discussed in #75 ).

What do you think?

[2019-08-04 02:13] sparalic commented on #89
@martinagvilas , I like this idea, maybe we can keep it high level with steps 1-7. Basically, just capturing the “how to” basics of contributing(PRs, cloning, forking) and add a link to the learning markdown for more specific topics(sort of a common gotchas while getting starters)? I agree with @galuhsahid keeping them separate serves two very different purposes.

[2019-08-04 03:11] martinagvilas commented on #89
sounds like a good idea!

[2019-08-04 08:14] asvithajanani commented on #55
Can someone invite me in the @python-sprints/pandas-mentoring organization or add to the gitter channel, someone who has admin access. Do I need to create a separate issue for this?

[2019-08-04 08:38] asvithajanani opened #90 "structuring the LEARNING_POINTS.md document"
How about structuring it based on topics like git, environment setup etc? Or just listing it for now and grouping it at later point?

[2019-08-04 09:28] bhavaniravi commented on #32
I am kind of done with setting up a basic pipeline that runs the make file successfully.

Here is where I am stuck, where do we store the generated HTML files.
1. Are we going to have a separate docs repo?
2. Are we going to push to the same repo?
3. Is there a way to update code directly from pipeline instead of pushing?

[2019-08-04 09:36] bhavaniravi commented on #55
@datapythonista I just read the whole thread. Still stuck at the 404.

[2019-08-04 10:54] BhagyaC commented on #55
@datapythonista then please send me a request to join the organization

[2019-08-04 12:42] BhagyaC opened #91 "Please share thoughts in SURVEY.md"

[2019-08-04 20:05] Ayowolet commented on #74
I have tried to add the document on this PR #92

[2019-08-04 21:54] datapythonista commented on #32
You can see what we do in pandas here: https://github.com/pandas-dev/pandas/blob/master/azure-pipelines.yml#L120

Basically we have a specific repo that we publish with github pages, and that we overwrite every time. There are surely other options, including pushing the same repo. Ideally we'd like to have 3, I contacted azure pipelines few times to see if they can publish an artifact as html, but

[2019-08-04 21:58] datapythonista commented on #55
@bhavaniravi you already appear in the gitter channel. In any case I invited the three of you to the organization.

[2019-08-05 00:11] bhuvanakundumani commented on #55
@datapythonista Can you please send me a request to join gitter ?

[2019-08-05 03:41] sara-02 commented on #55
@datapythonista I would like to join the Gitter channel.

[2019-08-05 08:35] dorothykiz1 commented on #91
Hello @BhagyaC  which survey You could share the link  we look through

[2019-08-05 08:37] Ayowolet commented on #74
Should the html file be added too? I would like to close this issue

[2019-08-05 08:40] dorothykiz1 opened #94 "Create a slack Channel for the Pandas-mentoring for easy communication"

[2019-08-05 09:22] datapythonista commented on #55
I invited you two to the pandas-mentoring organization. After that you should be able to join the gitter channel. If it's not immediate how to join, someone explained in a GitHub comment, you probably want to add that explanation to the README file, so it's easier to find for everyone else.

[2019-08-05 09:40] datapythonista commented on #74
@Ayowolet in general what we do is at the beginning of the PR that closes an issue, we add the text `Closes #74`. This way, the PR and the issue are referenced since the PR is opened and when the PR is merged, github automatically closes the issue.

I don't think we want the html, in general auto-generated files are not included in repos.

[2019-08-05 09:41] datapythonista commented on #94
I don't think a decision has been made regarding that. Can you clarify that in the title/description of the issue?

[2019-08-05 10:08] Ayowolet commented on #74
Thank you @datapythonista. I’ll remember to do that moving on. I wasn’t sure the PR would be fine that’s why I didn’t reference the issue.

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Marc Garcia <notifications@github.com>
Sent: Monday, August 5, 2019 10:40 am
To: python-sprints/pandas-mentoring
Cc: AyowoleT; Mention
Subject: Re: [python-sprints/pandas-mentor

[2019-08-05 11:10] #56 closed

[2019-08-05 11:44] #74 closed

[2019-08-05 11:46] BhagyaC commented on #91
@dorothykiz1
https://github.com/python-sprints/pandas-mentoring/blob/master/SURVEY.md

Please go through this and share your thoughts

[2019-08-05 11:54] sara-02 commented on #91
Just a thought Typeform or Google form can be an easier way to share the thoughts on the survey while maintaining the anonymity of the correspondence. And later while extending the outreach, we can just share the form link around.
Any thoughts @BhagyaC @datapythonista

[2019-08-05 11:58] Ayowolet commented on #55
I have signed in to Gitter, made my membership public but I still get the 404 message. I even searched for pandas-mentoring and tried to join from there... Am I missing something?

[2019-08-05 12:19] datapythonista commented on #91
Not sure what you're proposing, would you create a google form to propose questions for the survey? I'm open to anything, but I think opening PRs to the current survey can allow better discussions and be a more efficient process.

[2019-08-05 12:23] BhagyaC commented on #91
@sara-02 Your Idea sounds good but before going to the survey we need a discussion on the same. Like what all are the questions needed who all really interested etc for that discussion everyone have to add there thoughts to the SURVEY.md as a separate PR and we will run the discussion though that

[2019-08-05 12:24] Aya-S opened #95 "Granting Aya-S the needed permissions to enter gitter channel and review PRs"
Hello Everyone,
would be great if someone with the required privileges would Grant me the needed permissions to enter the gitter channel and review PRs.
TIA!

[2019-08-05 12:41] datapythonista commented on #95
Added you to the organization and the gitter channel. :)

[2019-08-05 12:41] #95 closed

[2019-08-05 13:04] Aya-S commented on #95
wohoo! thanks @datapythonista

[2019-08-05 13:34] datapythonista opened #96 "Merge doc makefiles into a Python script"
In the `doc/` directory we've got two different scripts, that were created by Sphinx, `Makefile` and `make.bat`. The reason why Sphinx does this is because a `Makefile` only works in unix system (Linux or Mac mainly), so a separate `make.bat` file to build the docs in windows is provided.

But instead of having two separate scripts, seems more efficient to have a single script in a language that w

[2019-08-05 13:36] datapythonista opened #97 "Validate that master branch is not used in the CI"
One "mistake" that most people did in their first PR was to make the changes in the `master` branch. This shouldn't be done, because the local repository gets into a state that no branches for new features can be created.

In #32 we'll soon have a CI system implemented. Can we have a check in the CI that fails when a PR is opened from the `master` branch?

[2019-08-05 13:46] datapythonista commented on #70
I think there is agreement in this ticket, can someone write the final convention in the `README` file or somewhere else?

[2019-08-05 13:47] datapythonista commented on #80
@python-sprints/pandas-mentoring any other opinion here? Or everybody happy with `Les Pandanistas`?

[2019-08-05 13:47] dujm commented on #95
@Aya-S  I know this issue was closed, but I should have clarified it earlier. It seems a team member (e.g. me) can not invite/authorize others to join the team because
 * There's no such option on my team page
 * The link I sent you is hidden to non-members (https://github.com/orgs/python-sprints/teams/pandas-mentoring/members)

So I guess only the team maintainer can invite people. And I see Marc

[2019-08-05 13:53] datapythonista commented on #95
@dujm do you have an `Add member` button in https://github.com/orgs/python-sprints/teams/pandas-mentoring/members ?

That's how I'm adding people to the team. Afaik I'm adding people as admins, so I guess you should have that button and be able to add other people too, but if that's not the case let me know and I'll check in more detail how to make the rest of the people admins.

Thanks!

[2019-08-05 13:56] BhagyaC opened #98 "Not able to JOIN GITTER?? can we use slack for better coordination"
Hey all since many having issue (including myself ) to join the gitter channel for our discussion and there is a proper solution for the same. In that case can we choose slack as a better way of discussion and from my side that will be much easier

[2019-08-05 14:01] dujm commented on #95
![Screen Shot 2019-08-05 at 15 59 29](https://user-images.githubusercontent.com/30461000/62470170-2085d880-b79a-11e9-9be9-e45a39fb8c0f.png)

@datapythonista  No, I don't have this button, only the 'Leave team' button ;)

[2019-08-05 14:09] datapythonista commented on #95
ok, don't touch the `Leave team` button. ;)

@dujm you were already an admin of the team and the repo, but I made you and few more people an admin of the whole organization. Hopefully now you're able to add people, otherwise not sure what else I can do.

[2019-08-05 14:11] datapythonista commented on #98
I think this is a duplicate of #94.

@BhagyaC I added you to the gitter channel.

[2019-08-05 14:12] dujm commented on #95
:-D thanks @datapythonista Now I can see the 'Add a member button.  I will add people to the 'Team' and 'Gitter'

[2019-08-05 14:28] datapythonista commented on #95
Thanks a lot @dujm. Feel free to send a message to the google group, if you think someone may be missing.

[2019-08-05 14:29] #98 closed

[2019-08-05 14:29] BhagyaC commented on #98
Sorry I missed that
@datapythonista

[2019-08-05 14:56] datapythonista opened #99 "Add link to the pandas code of conduct in the README file"
The pandas `README` file provides a short section about contributing to the project: https://github.com/pandas-dev/pandas#contributing-to-pandas-

While pandas has a strict code of conduct to make sure no sort of harassment or discrimination happens in the project development, there is no reference of link in that section. The code of conduct is in: https://github.com/pandas-dev/pandas/blob/master

[2019-08-05 15:27] bhavaniravi commented on #55
Gitter still gives me a 404

[2019-08-05 15:32] datapythonista commented on #55
@bhavaniravi can you access the pandas public channel? https://gitter.im/pydata/pandas

[2019-08-05 15:35] sparalic commented on #99
@datapythonista I can take this one

[2019-08-05 15:38] bhavaniravi commented on #55
@datapythonista yes finally.

[2019-08-05 15:43] bhavaniravi commented on #32
guess what? I could successfully push the HTML docs to a separate repo.
Now, can we create a `pandas-mentoring-docs` repo under `python-sprints`?

[2019-08-05 15:47] datapythonista commented on #32
Sure, I think I already made you an admin of the organization, you should be able to create it yourself. :)

[2019-08-05 15:49] Ayowolet commented on #96
I'll take this one

[2019-08-05 16:03] sara-02 commented on #91
@BhagyaC got it. So right now we are just getting an opinion about the survey questions and format itself, and not necessarily the answers to the question. I thought we have already started collecting data.

[2019-08-05 16:17] sara-02 commented on #90
We just follow the simple structure of
Author name:
  points learned.

That way we can have a section about what each one learned/is learning.
Regrouping according to topic while looks neat, might be difficult for newcomers to maintain.

[2019-08-05 16:20] sara-02 commented on #90
If the idea looks good, I send a PR for it.

[2019-08-05 16:24] Dr-G commented on #91
NumFOCUS has a TypeForm account we can use for the survey.

[2019-08-05 16:27] sara-02 commented on #91
@Dr-G Sure. We will reach out to you guys once the survey is formulated. :)

[2019-08-05 16:33] sara-02 opened #100 "Adding License file to the project."
Should we add a LICENSE file for this project? If yes, what License to follow?

[2019-08-05 16:42] sara-02 opened #101 "Should we add new issue template?"
Maybe we could use a .github to include an issue template.
Not only will it standardize the issue content, but help the newcomers become more familiar with the workflow/(unsaid rules: speak_no_evil:) of adding issues since most open-source projects come with a predefined issue template.
For the startes we can follow one from pandas-dev https://github.com/pandas-dev/pandas/blob/master/.github/ISSUE

[2019-08-05 20:30] Aya-S commented on #97
@bhavaniravi any recommendations on how I can  work on this as a buildup on your work for #32

[2019-08-05 20:32] dujm commented on #100
If we agree on this, maybe we could use [BSD 3-Clause](https://github.com/python-sprints/pandas/blob/master/LICENSE)? It is used in pandas.

[2019-08-05 20:40] Aya-S commented on #83
@galuhsahid can you provide some more details about this issue and may be an entry point to tackle this?

[2019-08-05 20:46] Aya-S opened #102 "Add PR review conventions to Contributing.md"
PR rules:
input from two reviewers Is needed to merge a PR.
After one reviewer approves, the next reviewer can merge.
xref #70

[2019-08-05 21:48] Dr-G commented on #91
Here are some links that may be useful as you formulate your survey:

- https://publiclab.org/notes/liz/04-15-2019/report-2019-software-contributors-survey
- https://github.com/drnikki/open-demographics/tree/master/docs/_sources/questions

[2019-08-06 01:10] galuhsahid commented on #83
@Aya-S Sure! When I tried to build the docs I saw these undefined `{{ header }}` variables in all of the pages, which happens because we haven't yet initialized the `header` variable in our current setup of the docs.

I think a good entry point would be to replicate what pandas is doing and see if it works, then if it does maybe we can iterate from there should we want to change something. The con

[2019-08-06 02:45] montjoile commented on #55
Hello, could you add me on glitter? It seems that I don't have any access.
Thanks!

[2019-08-06 04:31] sara-02 commented on #70
Hey @Aya-S we usually wait for the PR to get merged before closing an issue.

[2019-08-06 04:31] #70 closed

[2019-08-06 06:09] sparalic commented on #99
@datapythonista  when I tried pushing the updates to pandas I get a 403 error. Do I need specific permissions to push to the pandas repo? Or am I missing something?

[2019-08-06 07:17] sara-02 commented on #99
@sparalic did you by mistake push a change directly to the pandas-dev master instead of the branch on your fork?
What is the result of your `git remote -v`

[2019-08-06 10:06] Aya-S commented on #55
@montjoile your GitHub link doesn't seem to be there on the README.md ,if it's not then i guess you should add it to the doc.

[2019-08-06 10:11] Aya-S commented on #55
@montjoile I just mentioned you in the chat you were added. Can you confirm if you are able to access the channel?

[2019-08-06 10:11] #55 closed

[2019-08-06 10:53] datapythonista commented on #99
You should contribute in the same way you contribute to this repo, openinig PRs. We're like 15 people who has permissions to push to pandas, and there are around 1,500 contributors. And even the people with push permissions we never push to the repo (no exceptions), we always contribute using PRs like the rest (we only use the permissions to merge PRs, after they've been reviewed by enough people)

[2019-08-06 14:19] sara-02 commented on #102
@Aya-S Can we expand the scope of this issue to include a general how to contribute section on the README?
Part 1: clone/fork/branch/add name to list
Part 2: Rules to PR review
PArt 3: claim existing issues  or add new issues, continue contributing.

[2019-08-06 14:20] sara-02 commented on #94
@dorothykiz1 Are you facing issues with joining Gitter?

[2019-08-06 14:30] sparalic commented on #99
@sara-02 and @datapythonista when I tried to fork the first time, it said you already have a forked copy i.e. the panda-sprints copy. So I figured I would work off of that fork, but did not work. It's fine now, lesson learned.

@datapythonista I created the pull request : add Code of Conduct ref to README #27780

[2019-08-06 14:33] datapythonista commented on #99
cool, as @sara-02 said, `git remote -v` will give you more information on which repos you're interacting with. You want to have `origin` pointing at your fork, and `upstream` pointing at the original repo.

Next time it's probably easier if you tag me directly in the description of the PR when you open it. That way other core devs also have context on where it is coming from.

[2019-08-06 14:34] bhavaniravi commented on #97
Sure @Aya-S  I am almost done. Will give a PR today.

[2019-08-06 14:55] martinagvilas commented on #102
Maybe the README.md could point to the contributing.md and we could add all these things there, so to keep the README as introductory as possible?

[2019-08-06 15:38] smiaa commented on #102
I concur with Martina, we shall have a link to contributing.md from
readme.md

On Tue, 6 Aug, 2019, 8:25 PM Martina G. Vilas, <notifications@github.com>
wrote:

[2019-08-06 17:25] Aya-S commented on #102
A link to contributing.md does make sense

[2019-08-06 18:40] sara-02 commented on #102
Yes, it does.
Maybe something on the lines of
https://github.com/pandas-dev/pandas/blob/master/.github/CONTRIBUTING.md
But modified to suit our group's need?

[2019-08-06 18:47] martinagvilas commented on #102
That would be cool! We already have a contributing.md file in the root folder of our project (so we don't need to create one from scratch), but maybe we could add the information of the link you provided there @sara-02

[2019-08-06 18:48] MKhalusova commented on #80
At the risk of sounding grumpy, why do we need a team name? It's not like there are multiple teams competing against each other...

[2019-08-06 20:44] sara-02 commented on #102
@martinagvilas second that.

[2019-08-06 23:57] Aya-S commented on #101
I agree, good idea.
also maybe we can set some standard for the issue titles to make things easier to manage/follow.

[2019-08-08 04:57] sparalic commented on #96
@Ayowolet  do you need help with this issue?

[2019-08-08 07:47] WuraolaOyewusi commented on #90
@sara-02  The idea looks good.

[2019-08-08 11:21] Ayowolet commented on #96
@sparalic no thank you... was distracted by the azure pipelines...

[2019-08-08 11:42] sara-02 commented on #90
Cool, I'll send the PR over the weekend.

[2019-08-08 13:48] MKhalusova commented on #83
Is anyone working on this? If not, I can give it a go.

[2019-08-09 14:13] yomaokobiah commented on #102
Is anyone working on this at the moment?

@sara-02 did you mean the rules for taking over existing issues and how to add new issues?

[2019-08-09 15:22] sara-02 commented on #102
@Yomdroid Noone is working on this right now.
Yes, basic rules like:
Check the issue already exists, if open add your comment on it. If closed then reopen and add comments.
For new issues: Follow issue template,
for reporting errors, give details of the version/os you are running.

[2019-08-09 15:31] yomaokobiah commented on #102
Thanks, I'll work on it.

[2019-08-09 15:33] MKhalusova commented on #83
I guess no one is, I'll take it then.

[2019-08-09 17:54] yomaokobiah commented on #102
For existing issues, how long does the person assigned to it have, before someone else can attempt to do it? @sara-02

[2019-08-09 20:27] datapythonista opened #111 "Update NumFOCUS language in the pandas home page"
NumFOCUS (the non-profit that supports pandas), is asking all the projects to standardize the language we use about NumFOCUS. In pandas. we have the mention to NumFOCUS at the beginning of the home page pandas.pydata.org.

The requested text is next:
[code]

Note that `pandas` is used in lowecase even at the beginning of the sentence.

The website is in a separate repo: https://github.com/pandas-d

[2019-08-09 23:58] bhuvanakundumani commented on #111
I would love to work on this @datapythonista

[2019-08-10 01:05] bhuvanakundumani commented on #111
@datapythonista - need clarification
Should the hyperlink for numfocus.org be
https://numfocus.org/
or
https://numfocus.org/sponsored-projects ( this is how it is in the current repo )

[2019-08-10 21:55] datapythonista commented on #111
Thanks for taking this @bhuvanakundumani, the link should be to https://numfocus.org/.

It's also perfectly find to ask questions in the ticket, but if you prefer it's also perfectly fine to open PRs with your guess, since the PRs will be reviewed anyway. So don't feel the PR needs to be perfect, because having reviews and changing things is normal part of the workflow.

[2019-08-10 22:35] datapythonista opened #114 "Write simple installation instructions for pandas"
pandas has a quite complete documentation page with installation instructions:

https://pandas.pydata.org/pandas-docs/stable/install.html

But personally, I don't want users that come to pandas for the first time (and possibly to the whole PyData ecosystem) to find this document and have to use it to get started. I think it makes much more sense to provide a short document with how we think they s

[2019-08-10 23:24] Aya-S commented on #83
@MKhalusova I was planning to work on it but fell ill and am still recovering. you can go ahead and attempt this.

[2019-08-11 00:02] bhuvanakundumani commented on #111
thanks for the clarification.

[2019-08-11 00:04] bhuvanakundumani commented on #114
I am interested in working on this issue. Can i take this?

[2019-08-11 02:42] smiaa commented on #114
Even I'm interested to work on this., @bhuvanakundumani, can we collaborate
on this?

On Sun, 11 Aug, 2019, 5:34 AM Bhuvana KA, <notifications@github.com> wrote:

[2019-08-11 10:10] sara-02 commented on #102
Not aware of that, for the time being, we are just working on mutual agreement.

[2019-08-11 10:36] datapythonista commented on #102
My opinion is that you can simply ping the person to see if it's still working or if they are happy that you take it. That could be somehow rude if you don't wait a reasonable time, but I think after few days, or a week or something that makes sense (depending on the context) that's perfectly fine.

[2019-08-11 12:00] WuraolaOyewusi commented on #114
I think the instructions should include JupyterLab/Notebook Environment too.

[2019-08-11 17:17] Ayowolet commented on #96
@datapythonista I'm struggling with this a little bit. Can I use the make.py file in the pandas repository as a guide?

[2019-08-11 17:23] datapythonista commented on #96
Absolutely, we need something much simpler here, but everything we need should be in that file.

Feel free to open a PR that is not finished/not working, so people can have a look and help you.

[2019-08-11 17:27] Ayowolet commented on #96
Okay, thanks. I will do that.

[2019-08-11 17:39] beingenfa commented on #80
So, I'll go with this?

[2019-08-12 00:01] bhuvanakundumani commented on #114
@smiaa . Sure

[2019-08-12 00:01] bhuvanakundumani commented on #114
Sure @smiaa

[2019-08-13 14:05] MKhalusova commented on #83
Why do docs need to import pandas and numpy?

[2019-08-13 14:14] datapythonista commented on #83
Not the right person to answer that, since I think it's a very bad idea, and I'm strongly against doing that. But some people in the core dev team want to avoid having an `import pandas` at the beginning of examples, since it's supposed to be obvious by readers.

[2019-08-13 14:34] sara-02 opened #116 "[Funding Options][RGSOC][Future Ref.]"
As per the discussion \[1\] on the PR #86.
This issue is to keep track of the revamp of RGSoC \[2\] so that it can be added to the list of funding opportunities, if need be so.

\[1\]: https://github.com/python-sprints/pandas-mentoring/pull/86#discussion_r310430461
\[2\]: https://railsgirlssummerofcode.org/blog/2019-03-21-the-future-of-rgsoc

[2019-08-13 18:28] MKhalusova commented on #83
@datapythonista Sorry, that's not what I meant. Let me rephrase. Generated documentation is in HTML, so what purpose does an added import serve in an html file?
So here for instance https://pandas.pydata.org/pandas-docs/stable/development/contributing.html
I don't see it in the resulting html.
Having import would make sense if the resulting "thing" was executable, that's the source of my confusion

[2019-08-13 18:37] datapythonista commented on #83
Ah, I understand now, good point.

I don't think in the contributing documentation there is much code, but in the user guide for example there are lots of ipython block codes that sphinx runs to show the output in the html pages.

[2019-08-14 10:34] datapythonista opened #119 "New citing and artwork section in the pandas website"
In the new pandas website, I'd like to have a section for resources to cite pandas. To be specific, I want people to be able to cite pandas in scientific papers, and also to use the pandas logo correctly.

Scikit-learn has something like that in their about us section:
https://scikit-learn.org/stable/about.html#citing-scikit-learn

In the current website we've got two papers in the talks section:

[2019-08-14 10:55] martinagvilas commented on #119
Can I work on making a first draft of this page? So that then others can add improvements to it.

[2019-08-14 10:58] datapythonista commented on #119
that would be great, thanks @martinagvilas

[2019-08-14 12:56] WuraolaOyewusi commented on #119
@martinagvilas  Can we work together on this?

[2019-08-14 13:52] martinagvilas commented on #119
@WuraolaOyewusi sure! Would it make sense that I first upload a very simple file (e.g. only with the headers) and we start populating it together after that? We could divide the sections. Or do you have another suggestion?

[2019-08-14 13:57] WuraolaOyewusi commented on #119
Ok, upload the file with headers.

On Wed, 14 Aug 2019, 2:52 PM Martina G. Vilas, <notifications@github.com>
wrote:

[2019-08-14 15:20] martinagvilas commented on #119
@WuraolaOyewusi I have uploaded the file with headers [here](https://github.com/python-sprints/pandas-mentoring/blob/master/doc/citing_pandas.md).

What if I work in the citing subsection and you do the artwork one?

[2019-08-14 15:51] datapythonista commented on #114
There is a small change here. We'll finally have this page in markdown, and not in rst.

Btw, any ETA for this? I'll have a first draft of the new pandas website soon, and would be nice to have an initial version of this page (we can surely keep iterating on improving it later on).

[2019-08-14 18:20] datapythonista commented on #111
@bhuvanakundumani feel free to close this once you're ready.

[2019-08-14 18:36] datapythonista commented on #119
I created a temporary repo for the new pandas website, where I'll have this page initially, while working with the designer: https://github.com/datapythonista/pandas-web/

The website renders automatically after a PR is merged to: https://datapythonista.github.io/pandas-web/ (right now there is not much, and no styles at all, but will keep adding things).

Feel free to send the PR to that repo, or

[2019-08-14 18:37] datapythonista commented on #114
This comment is also relevant here: https://github.com/python-sprints/pandas-mentoring/issues/119#issuecomment-521366438

[2019-08-14 18:38] datapythonista commented on #99
I think this has already been merge, feel free to close this issue and refer to the PR once you're ready.

[2019-08-14 20:28] #90 closed

[2019-08-14 20:40] dujm commented on #94
Hi @dorothykiz1, I have closed this issue since I believe most of us are on Gitter. Feel free to re-open an issue if you later still would like to set up a slack channel for us.

[2019-08-14 20:40] #94 closed

[2019-08-15 00:43] #111 closed

[2019-08-15 00:45] bhuvanakundumani commented on #114
@datapythonista i will work on this over this weekend and try to finish it

[2019-08-15 03:12] smiaa commented on #114
@datapythonista to clarify, do we need to create the markdown pages in
python-sprints repo or python-web repo?

On Thu, 15 Aug, 2019, 6:15 AM Bhuvana KA, <notifications@github.com> wrote:

[2019-08-15 07:29] datapythonista commented on #114
In pandas-web they already exist, the best is just add the content there.

[2019-08-15 08:00] WuraolaOyewusi commented on #119
@martinagvilas  Ok, I will give a try.

[2019-08-15 08:08] sara-02 commented on #102
Fixed in #113
@Aya-S feel free to open this issue in case you think more work needs to be done in the `contributing.md`.

[2019-08-15 08:08] #102 closed

[2019-08-15 08:25] martinagvilas commented on #119
@datapythonista ok, I think it's better to work directly on the web repo, so I will try to make the PR there

[2019-08-15 09:26] datapythonista opened #123 "DataFrame.to_parquet fails with index parameter"
This issue should be created in the pandas repo, but creating it here so nobody not in this groups claims it.

**Please consider this before claiming this issue:**
- This is somehow advanced, and besides requiring decent Python/pandas skills, it may require an important amount of time, please don't claim it if you don't have it in the next few days
- If you already made your first PR to pandas, pl

[2019-08-15 09:50] sara-02 commented on #123
@datapythonista is this issue related to Python2?
[code]
I just tried it on my system with Python3 and the existing pandas version installed, I did not get any error :/

[2019-08-15 10:06] datapythonista commented on #123
Thanks for checking @sara-02

Looks like in my company they've got an old version of pyarrow, 0.10, didn't realize. Can you downgrade your arrow version to that, and see if with the latest pandas we get that error are a better one?

In the 0.25 release notes, we say that we support pyarrow since 0.9.0. I don't think we want to fix compatibility with old versions, but it's not right that we show th

[2019-08-15 11:13] sara-02 commented on #123
@datapythonista  I created a virtualenv for Python3 and tested the commands, and did not get any error.
[code]

[2019-08-15 11:15] datapythonista commented on #123
I guess it's been fixed then, thanks for checking!

[2019-08-15 11:15] #123 closed

[2019-08-15 22:20] Ayowolet commented on #96
I've taken too long on this.. @sparalic if you want to work on this, please feel free.. I've not been able to devote as much time as I ought to.. @datapythonista I apologise for spending too long

[2019-08-16 05:22] sparalic commented on #99
closes #27851 (pandas)

[2019-08-16 05:22] #99 closed

[2019-08-16 15:59] #75 closed

[2019-08-16 16:40] bhuvanakundumani commented on #114
@datapythonista - I went through the install.md in the padas-web repo. Should i update the install.md to have installation instructions from terminal? thanks

[2019-08-17 10:40] datapythonista opened #125 "Update to_parquet/pyarrow tests"
This issue will have a bit of trickiness on setting up locally the latest (`master` branch) version of arrow/pyarrow, but should be easy other than that:

https://github.com/pandas-dev/pandas/issues/27955

Please add a comment to the original issue (also here) to claim it if you plan to work on it.

[2019-08-17 13:16] datapythonista commented on #114
To me it makes sense to give installation instructions as simple as possible for new users, and provide other options in a separate page. I think that's less intimidating for very beginner users.

[2019-08-17 22:02] datapythonista opened #132 "Fix docstrings where the summary does not end with a period."
In pandas we try to make sure that all the documentation pages follow the same conventions. For example, we expect all the summaries to finish with a period.

Here there is a list of docstrings that don't follow this convention:
[code]

You can see the first one, how the first sentence should finish with a period and it doesn't: https://dev.pandas.io/reference/api/pandas.DataFrame.keys.html

Pleas

[2019-08-17 22:58] Aya-S commented on #132
@datapythonista I don't understand the work to be done on this issue? are we to implement a unit test to test for the correct formatting? thanks, in advance.

[2019-08-17 23:17] Aya-S commented on #89
Hi Girls ! @martinagvilas @sparalic  @galuhsahid ,
is there more work pending related to this issue?

[2019-08-17 23:48] Aya-S commented on #132
I will attempt this. These are all just missing ending periods right :D?
I opened an issue in pandas with you mentioned

[2019-08-18 00:02] galuhsahid commented on #125
I'd like to work on this

[2019-08-18 00:27] galuhsahid commented on #125
@datapythonista Since there are two things that need to be done (update the tests and docs), should these be done in two separate branches or just one?

[2019-08-18 08:49] martinagvilas commented on #89
Hey @Aya-S I was waiting to see if the LEARNING_POINTS.md got more populated to add the relevant points, but for now I will now add a simple link at the bottom of the page directing to the whole file.

[2019-08-18 09:46] galuhsahid commented on #125
@datapythonista also, I've setup the latest version of arrow/pyarrow in my local, however I'm having trouble telling my conda environment to use the latest version of pyarrow. I've been searching for docs/tutorials that might help me with this but to no avail. Do you have any pointers regarding this? Thank you!

[2019-08-18 14:07] TanyaaCJain commented on #125
@galuhsahid Try giving the pyarrow documentation a read. It has information regarding the development settings via conda.

[2019-08-18 14:14] galuhsahid commented on #125
@TanyaaCJain Did you mean [this doc](https://arrow.apache.org/docs/developers/python.html#python-development)? I've followed through & built pyarrow in its own environment successfully. I should've been clearer - I meant I had trouble telling my pandas-dev conda environment to refer to the pyarrow I've just built, so that my tests in pandas would pass.

[2019-08-18 19:28] datapythonista commented on #125
@galuhsahid, if I'm understanding correctly what you mean, I think using the `PYTHONPATH` environment variable is a good option. In the terminal run:
[code]
And your python interpreter should be able to import your pyarrow from master. You can also have: `PYTHONPATH=/path/to/pyarrow:/path/to/pandas`

Let me know if this is not what you needed.

[2019-08-18 19:29] jorisvandenbossche commented on #125
It's fine to do it in a single branch/PR (since they are related)

You will need to install pandas and pyarrow in the same environment (technically it might be possible to point to an install in a different environment, but it is not something I would recommend).
What I did locally is install pandas master also in my arrow-dev environment (for the arrow/parquet tests, you don't need all optional d

[2019-08-18 19:36] #89 closed

[2019-08-18 20:08] datapythonista commented on #132
Thanks @Aya-S. My bad that I mentioned about opening the issue in pandas, I meant the PR.

I think someone else worked on them, you can check in the open PRs what they did. But I've got some more you can fix, and yes, it's literally adding some periods . :)
[code]

[2019-08-18 20:21] datapythonista opened #134 "Timestamp docstring with missing periods"
Same as #132, but for some other docstrings.

[code]

[2019-08-18 20:23] datapythonista opened #135 "Fix IntervalArray docstrings with missing period in the summary"
Same as #132, but for other docstrings:

[code]

[2019-08-18 20:23] TanyaaCJain commented on #125
@galuhsahid What about trying code from [this doc](https://buildmedia.readthedocs.org/media/pdf/pyarrow/latest/pyarrow.pdf)? Somehow, the html version does not have the same code as that in the "Developing with conda - Environment Setup and Build" topic in the pdf version. The code in here does what @jorisvandenbossche is talking about.

[2019-08-18 20:24] datapythonista opened #136 "Fix RangeIndex and other docstrings for missing period in summary"
Same as #132 but for other docstrings:

[code]

[2019-08-18 20:26] datapythonista opened #137 "Fix IntervalIndex docstring for missing period at the end of summary"
Same as #132 but for IntervalIndex docstrings:
[code]

[2019-08-18 20:28] datapythonista opened #138 "Fix DatetimeIndex and other docstring for missing period at the end of summary"
Same as #132 but for the next docstrings:
[code]

[2019-08-18 20:35] datapythonista opened #139 "Create notebook with histogram of number of wrong docstrings"
In pandas there are many docstrings that have known errors, like parameters that are not documented, examples that do not run, formatting issues...

We have a script that is able to generate all them in a json file (you need a pandas development environment to run it, and should be run in an updated `master` branch):
[code]

After generating the json file, we need a jupyter notebook that opens tha

[2019-08-18 20:46] TanyaaCJain commented on #139
I would like to try to work on this issue.

[2019-08-19 00:20] bhuvanakundumani commented on #114
ok.i understand.Thanks

[2019-08-19 04:06] martinagvilas commented on #138
I would like to work on this

[2019-08-19 04:13] sara-02 commented on #137
@datapythonista I would like to work on this one.

[2019-08-19 09:33] datapythonista opened #140 "DISCUSSION: Propose topics for pandas tutorials"
In the pandas documentation, we would like to add tutorials that cover end to end real use cases of pandas. This should make things very easy for first time users trying to address a specific problem with pandas.

Based on my personal experience, those are the kind of problems I usually address:

- Exploratory analysis of a dataset to answer specific questions
- Build a pipeline transforming one o

[2019-08-19 18:32] galuhsahid commented on #125
@datapythonista @jorisvandenbossche @TanyaaCJain I ended up following @jorisvandenbossche's approach which works for me. Thanks a lot for the help everyone! I'll make sure to add this to our learning points as well.

[2019-08-19 18:53] galuhsahid commented on #140
I'm thinking something along data cleansing - we can start with a real-world example of a messy dataset (with duplicated rows, missing values, unnecessary columns/rows...) and end up with a tidy one. I think this could be useful for people who are using pandas to clean their dataset, especially when the data gets too large for software to handle that it ends up slowing down their process.

However

[2019-08-20 09:07] WuraolaOyewusi commented on #140
@datapythonista In text Preprocessing, pandas plays a big role in giving some structure to the data. It's blissful to simply apply functions along columns.

@galuhsahid I think it's a good idea to use a real world dataset, and the use case is worth it from my perspective.

[2019-08-20 09:11] WuraolaOyewusi commented on #119
@martinagvilas . Any update on this? I've made a draft for the logo guidelines

[2019-08-20 09:13] martinagvilas commented on #119
@WuraolaOyewusi. As I said a few comments ago, I made the changes directly in the pandas-web repo. You can see them there :)

[2019-08-20 09:23] WuraolaOyewusi commented on #119
@martinagvilas , Ok, please can you share a link to it?

[2019-08-20 09:31] TanyaaCJain commented on #139
@datapythonista Do you want the `master` branch of pandas be added to the Conda environment or as a submodule in this repo?

[2019-08-20 09:32] datapythonista commented on #119
This is the link @WuraolaOyewusi

As I said in my email, I expected to have all the changes to the website in couple of days, whoever wanted to contribute to it, had to be fast. :)

Now I already opened a PR in pandas itself, feedback is very welcome, you'll have to add it to the PR in pandas directly: https://github.com/pandas-dev/pandas/pull/28014

[2019-08-20 09:34] datapythonista commented on #139
No, I'm happy to have just the notebook. If you want you can add a comment at the beginning saying that to run the notebook an environment with a recent version of pandas is needed. But I don't think even that is necessary, just the notebook is enough for me.

[2019-08-20 09:36] TanyaaCJain commented on #139
Ohh I assumed you wanted the notebook to update with the changes in `master` repository using the CI.

[2019-08-20 09:40] WuraolaOyewusi commented on #119
Oh, Ok @datapythonista .

[2019-08-20 09:42] datapythonista commented on #139
We can do that in the future, sounds like a good idea. But I'd start simple, just adding the JSON file (may be zipped) to this repo, and a notebook that opens it, and check how many errors we have pending.

Autogenerating the file sounds good, but I'd recommend never do anything that complex directly. Always go step by step and build things in an iterative way. There are a lot of talented people i

[2019-08-20 15:07] bhuvanakundumani commented on #136
I'd like to work on this

[2019-08-20 15:21] datapythonista commented on #136
great, thanks. Martina already opened a PR in pandas for a similar issue. I'm sure you know how to take care of this, but you can take care at what she did if that helps.

[2019-08-20 15:39] bhuvanakundumani commented on #136
sure . will look into it as well.

[2019-08-20 15:42] sara-02 commented on #140
I agree that an end-end tutorial is always better.
Some examples of end-end tutorials that I have presented to college students:
1: https://github.com/sara-02/pradarshan/blob/master/FWD_17_intro_to_pandas.ipynb
2: https://github.com/sara-02/pradarshan/blob/master/pandas_basic/py6.ipynb

Also, as mentioned by @WuraolaOyewusi showing pandas usecase on text Preprocessing will be another good usecase.

[2019-08-20 15:56] sparalic commented on #135
@datapythonista  I will take up this one

[2019-08-20 17:13] MKhalusova commented on #83
I've had some circumstances that prevent me from completing this. Someone else can take over.

[2019-08-20 20:03] sparalic commented on #135
@datapythonista it's complete.

[2019-08-20 20:04] sparalic commented on #134
@datapythonista I can pick up this one as well

[2019-08-20 21:15] datapythonista commented on #135
great, thanks, you can close this issue once the PR is merged.

[2019-08-20 21:24] datapythonista commented on #134
Cool. The list was generated with `./scripts/validate_docstring.py --errors=SS03`, and I created issues for batches of those. If you want to create new issues for errors like this in this report, you can find more info here: https://github.com/pandas-dev/pandas/issues/27977

[2019-08-20 22:23] sparalic commented on #135
will do!

[2019-08-20 22:25] TanyaaCJain commented on #139
Maybe if ever planned, the autogeneration of file can be directly worked in the pandas repo. And yes, I agree doing it step-wise with everyone's help would make this task much easier and effective!

[2019-08-20 22:30] datapythonista commented on #139
Yes, probably doing a clone of pandas master, compiling and then running the script would be the best.

[2019-08-20 22:33] datapythonista commented on #135
@sparalic you can also check this notebook that @TanyaaCJain created: https://github.com/python-sprints/pandas-mentoring/blob/master/notebooks/docstring_error_frequency.ipynb

The histogram at the end are all errors that we can help fix. We are now working on `SS03`, one of the somehow small bars. :)

[2019-08-21 03:39] bhuvanakundumani commented on #136
@datapythonista - have trouble with the following -

pandas.Int64Index: Summary does not end with a period
pandas.UInt64Index: Summary does not end with a period
pandas.Float64Index: Summary does not end with a period

The summary ends with a period. Have attached the screenshot for pandas.Int64Index here.
<img width="757" alt="Screenshot 2019-08-21 at 9 05 00 AM" src="https://user-images.githubus

[2019-08-21 04:03] bhuvanakundumani opened #144 "Fix tseries.offsets docstrings with missing period in the summary #1"
Same as #132 but for the next docstrings:

pandas.tseries.offsets.DateOffset.normalize: Summary does not end with a period
pandas.tseries.offsets.BusinessDay.normalize: Summary does not end with a period
pandas.tseries.offsets.BusinessHour.normalize: Summary does not end with a period
pandas.tseries.offsets.CustomBusinessDay.normalize: Summary does not end with a period
pandas.tseries.offsets.Cust

[2019-08-21 04:07] bhuvanakundumani opened #145 "Fix tseries.offsets docstrings with missing period in the summary (set 2)"
Same as #132 but for the next docstrings:

pandas.tseries.offsets.QuarterOffset.normalize: Summary does not end with a period
pandas.tseries.offsets.BQuarterEnd.normalize: Summary does not end with a period
pandas.tseries.offsets.BQuarterBegin.normalize: Summary does not end with a period
pandas.tseries.offsets.QuarterEnd.normalize: Summary does not end with a period
pandas.tseries.offsets.Quarter

[2019-08-21 04:09] bhuvanakundumani opened #146 "Fix tseries.offsets docstrings with missing period in the summary (set 3)"
Same as #132 but for the next docstrings:
pandas.tseries.offsets.Day.normalize: Summary does not end with a period
pandas.tseries.offsets.Hour.normalize: Summary does not end with a period
pandas.tseries.offsets.Minute.normalize: Summary does not end with a period
pandas.tseries.offsets.Second.normalize: Summary does not end with a period
pandas.tseries.offsets.Milli.normalize: Summary does not en

[2019-08-21 04:19] bhuvanakundumani commented on #144
@datapythonista - On checking with each of these, i realised there are no docstrings .
Please refer this screenshot
<img width="758" alt="Screenshot 2019-08-21 at 9 48 13 AM" src="https://user-images.githubusercontent.com/3718211/63402391-d71fc500-c3f8-11e9-9da4-ff57dc38a36a.png">

Why are we getting the error as 'Summary does not end with a period'  when summary is not there.
Thanks

[2019-08-21 06:34] martinagvilas commented on #136
Could it be that in the cases that you mention the summary in the code ends with `%(extra)s`? This could make validate_docstrings.py throw an error.

[2019-08-21 07:30] #139 closed

[2019-08-21 07:43] datapythonista commented on #136
I haven't seen this happening before. May be it's what @martinagvilas mention.

When you run the `validate_docstrings.py` script, the script will print the docstring that is analyzed, that should help. You can also debug (add some `print` to the script locally) to see what is the value of the summary... If the script is wrong, you can open an issue about it, and work on a PR.

Thanks!

[2019-08-21 08:01] jorisvandenbossche commented on #136
It might be because the first sentence does not end on the first line (" Summary should fit in a single line" is another error listed in the output). It might be that you can't fix the period one without fixing the other (due to how the validation script works)

[2019-08-21 09:22] datapythonista commented on #144
It may be a bug in the script, feel free to open an issue and work on a PR.

[2019-08-21 09:35] martinagvilas commented on #83
I could give it a try if this is still relevant.

[2019-08-21 10:06] bhuvanakundumani commented on #144
Thanks @datapythonista . will check the script and work on it.

[2019-08-21 10:11] datapythonista commented on #83
I proposed yesterday to remove it from pandas (https://github.com/pandas-dev/pandas/issues/28038), but I'd say it's a good learning exercise, and relevant in the short term.

[2019-08-21 10:43] bhuvanakundumani commented on #136
Will look into the script

[2019-08-21 12:50] datapythonista opened #147 "Remove alias in pandas docs for numpy.random.randn"
See the discussion here: https://github.com/pandas-dev/pandas/issues/28038#issuecomment-523439376

In pandas we have a `header` variable that we inject at the top of all documentation pages. One of the things there is `randn = np.random.randn`, which is a very bad idea that is only useful to confuse users.

With a quick grep I could just find a single case where that is used:
[code]

We should  re

[2019-08-21 13:50] sparalic commented on #135
@datapythonista great, I will look for others as well.

[2019-08-21 13:52] sparalic commented on #96
@Ayowolet sure I can help you with this one. @datapythonista do you want this copied over from the pandas repo, or should I use that as a working doc and retrofit it to our needs?

[2019-08-21 13:55] datapythonista commented on #96
The pandas one is very complex. You can use it for inspiration, but I'd just create a very simple one with what the script are doing now, but in Python, so a single script work in any OS.

[2019-08-21 14:17] WuraolaOyewusi commented on #147
Hi @Marc.
Is this for testing?
I can infer that the issue is with using 'randn' as variable name not change `np.random.randn` to `np.randon.randn`.
Please clarify, I will send PR for this

[2019-08-21 14:20] datapythonista opened #149 "Make explicit in pandas docs the imports and the options"
See https://github.com/pandas-dev/pandas/issues/28038

Until now, there has been a hidden code block at the beginning of every documentation page with imports, random seeds and options. There is agreement to make that code explicit, so the users can reproduce exactly the code, and there is no "magic" going on.

Let's start by opening a PR to remove that header in this page: https://pandas.pydata.o

[2019-08-21 14:24] TanyaaCJain commented on #149
I would like to work on this issue.

[2019-08-21 14:26] TanyaaCJain commented on #149
Should we let remain using of aliases like `import pandas as pd`? Also, from where is the value of `{{ header }}` being taken by the docs?

[2019-08-21 14:32] datapythonista commented on #147
that's code that shows in the docs, I don't think in that specific case the code is even run by Sphinx, since that Panel4D class doesn't exist anymore.

The issue is that `randn = np.random.randn` is a very bad idea, and we'll make that code public now (we run it in the docs, but we don't show it now).

[2019-08-21 14:36] datapythonista commented on #149
`header` is defined in `doc/source/conf.py`, the configuration file of Sphinx. For now we need to keep using aliases in pandas. Hopefully that will change soon, but this is the policy at the moment.

[2019-08-21 14:52] WuraolaOyewusi commented on #147
Ok, I will send a PR and tag you.

[2019-08-21 15:04] sparalic commented on #135
closed, merged in pandas #28043

[2019-08-21 15:04] #135 closed

[2019-08-21 15:26] jorisvandenbossche commented on #125
@galuhsahid would you like to try to fix https://issues.apache.org/jira/browse/ARROW-6302 as well?
It's in C++, so that's yet something else as contributing to pandas, but if you are interested (certainly don't feel obliged!), I can certainly help a bit where needed.

[2019-08-21 16:24] datapythonista opened #150 "DISCUSSION: Data for pandas examples"
Very often in the pandas documentation, to show examples simple `DataFrame` objects are created. And many of them just use random data, see for example https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#id1
[code]

Then, if I want to show an operation, I can get something like:
[code]
And in my opinion the example is quite useless (more than for the syntax), because if you don't know

[2019-08-21 17:52] TanyaaCJain commented on #149
On the fist occurence of `os`, I imported the library and inserted the code `os.chdir(r'{}')` present in the `{{header}}`. On building `docs/source/user_guide/io.rst`, it gives the `FileNotFoundError: [Errno 2] No such file or directory: '{}'`. Am I supposed to include `os.chdir(r'{}')` ? I am not sure which directory this code points to.

[2019-08-21 18:30] sparalic commented on #134
@datapythonista  will do. Marc, I noticed that I was bouncing around several different sources and piecing together things to get things set-up to simply run this validation script. Would it help if I add some end-to-end instructions from setting ups the pandas env run the validate script all the way to submitting your changes?  Maybe in the lessons learned or contribution md file?

It would combi

[2019-08-21 22:00] datapythonista commented on #134
Ideally we would have clear documentation on that in the pandas website itself. In the new website I did a bit of work on splitting the contributing docs, which goes in the direction that you're mentioning.

Feel free to create the document you propose. But it may be worth to wait until the initial PR for the website is merged, and then improve the docs there.

[2019-08-22 00:00] datapythonista commented on #149
That part is a bit tricky. I think you should be able to not have that, and everything will work well if the sphinx build called from the right directory.

The `chdir` is not useful for the calls to the `os` module functions, but it is to set the path where files will be looked for. For example, if there is a `pandas.read_csv('data/foo.csv')`, that `{}` represents the directory `/home/user/pandas`

[2019-08-22 01:13] galuhsahid commented on #125
@jorisvandenbossche Sure, I'd like to fix that as well. I'll ask you if I get stuck on something (if you don't mind)

[2019-08-22 04:19] galuhsahid opened #151 "DISCUSSION: Commit convention"
Hi everyone,

I was wondering if we need to have a convention for commit messages in this repository. Pandas uses a convention for commit message and layout, and I was thinking if we have such convention in this repository, it would get us used to the convention before we contribute to the pandas codebase if we haven't.

This is Pandas' commit convention (source: https://pandas.pydata.org/pandas-d

[2019-08-22 06:40] jorisvandenbossche commented on #125
Great ;)  Don't hesitate to ask any questions! (I am no C++ expert, but I start to be a bit familiar with the Arrow codebase)

[2019-08-22 08:46] martinagvilas commented on #150
@datapythonista I really like this idea! As a pandas user, I completely agree that its difficult to understand the documentation of some functions when the example is based on random numbers.

One question: are you thinking of using examples already uploaded somewhere in the internet, or creating the examples ourselves? (or are we open to both ideas?)

[2019-08-22 09:18] datapythonista commented on #150
I'm open to any idea. But my personal opinion is that will make things easier for users if we use datasets as small as possible. Showing `.head()` will require datasets longer than 10 rows, and `df.loc[1, 'col'] = 0.` will probably just require a 3x2 dataset, so small as possible depends on the case. But I don't think it makes sense to use the whole titanic dataset to show any of that.

[2019-08-22 11:19] datapythonista opened #152 "Generate dashboard for docstring errors"
We've implemented a notebook that preprocess the data of docstrings known errors, and plots how many we've got: https://github.com/python-sprints/pandas-mentoring/blob/master/notebooks/docstring_error_frequency.ipynb

This is very useful, but I think it'd be even cooler if we convert that notebook to an interactive dashboard that let us easily identify what docstrings need to be fixed.

I'm thinki

[2019-08-22 12:35] sparalic commented on #152
This is a cool idea. I’ll like to give it a shot

[2019-08-22 14:02] bhavaniravi commented on #150
I am thinking of a central theme and multiple datasets around it. That will make the documentation read like a story for different use cases.

For eg., A students dataset, A HR system or A sales system.

I have a pandas article in a similar fashion for your reference.
https://medium.com/bhavaniravi/python-pandas-tutorial-92018da85a33
https://medium.com/bhavaniravi/learn-pandas-via-usecases-part-2-

[2019-08-22 20:43] #100 closed

[2019-08-22 21:01] dujm commented on #152
I would like to join @sparalic. I will learn about the topic in the next days and discuss my plans with you @sparalic @datapythonista

[2019-08-22 21:55] sparalic commented on #152
@dujm we can absolutely team up on this, I’ve done most of my dashboards in R. So it’ll be nice to learn how to do it with Dash or plain old widgets in Jupyter.

[2019-08-23 09:18] datapythonista commented on #152
if you implement the code as a jupyter notebook, you can use voila to convert it to a dashboard automatically: https://github.com/QuantStack/voila

[2019-08-23 19:16] #138 closed

[2019-08-23 19:17] martinagvilas commented on #138
Closing this issue because it was merged in pandas #28031

[2019-08-23 20:03] datapythonista commented on #152
Just found out there is a gallery of voila dashboards for inspiration: https://voila-gallery.org/services/gallery/

[2019-08-23 23:32] datapythonista opened #153 "Better error message for DataFrame.apply"
The next example seems reasonable to me:
[code]
And looks like it should convert the data in the DataFrame to integers, by calling the `int()` function for every element.

This would be true for `Series.apply`, but `DataFrame.apply` parameter is a function that receives a whole `Series` at a time, not individual (scalar) values. The function that receives one value at a time is `DataFrame.applymap

[2019-08-24 07:43] WuraolaOyewusi commented on #153
I agree with you. I've been noticing better error messages and suggestions on how to fix them in some libraries like sklearn.
It's better that an error message is useful than succinct. If we come up with very useful and succinct,great.
I will experiment with this and get back

[2019-08-24 16:02] WuraolaOyewusi commented on #153
I don't know if there is a pandas convention on how to add suggestion to error messages.

`TypeError: ("cannot convert series to <class 'int'>", 'occurred at index col1',"to convert individual value to <class 'int'>,try DataFrame.applymap")`

[2019-08-24 18:47] smiaa commented on #114
@bhuvana I am not able to work on this issue currenly. FYIP.

On Mon, 19 Aug, 2019, 5:50 AM Bhuvana KA, <notifications@github.com> wrote:

[2019-08-24 22:19] datapythonista commented on #153
The proposals are done with issues in the pandas repository. In this case, the problem is not that much about which is the exact error message, but rather how to be able to identify the problem in the code. As it's explained at the end of the description, the error message being raised is not from the `apply` function, but it's a "generic" Series error.

[2019-08-25 03:12] galuhsahid commented on #151
If there's no objection, does anyone want to take this issue?

[2019-08-25 08:00] WuraolaOyewusi commented on #153
Hmmmmm

[2019-08-25 16:13] martinagvilas commented on #150
Based on the idea of @bhavaniravi of keeping the same theme across the three different types of dataframes that @datapythonista mentioned, I came up with the following examples (ignore the actual numbers in the dataframe, they won't make sense):

We could create a multiindex dataframe taking as example a company with multiple branches in differents cities, that wants to know how each of their sale

[2019-08-26 06:37] sparalic commented on #152
<img width="980" alt="Screen Shot 2019-08-25 at 11 32 03 PM" src="https://user-images.githubusercontent.com/28490392/63670157-c96b9600-c790-11e9-8f7e-51f3c235f131.png">
@datapythonista and @dujm  I was a bit busy last week, so sorry for the delay. But I used the examples Marc shared to create the first filter. This first draft show all of the errors associated with the selected pandas class. The n

[2019-08-26 07:18] dujm commented on #152
@sparalic Nice work! I think the next step(s) you planned also make sense.

I really like the [example](https://voila-gallery.org/user/seidlr-voila-in--football-pitch-4g8y2eez/voila/render/Interactive-Football-Pitch.ipynb?token=JD5RnWKTQeeeOo9lKi1iow) you suggested(`Interactive plot + sortable table`).

I'm just not sure whether it's easy to find a code using `a dropdown of error codes` (maybe sor

[2019-08-26 09:29] datapythonista commented on #152
Thans @sparalic, that looks great.

For the error codes, probably the best is import `scripts/validate_docstrings.py` and get the list from the constant. In a recent version of Python (>= 3.6) you'll get the dictionary sorted. Alphabetical order also makes sense, but that order starts by the global errors, and then lists them based on the order of the sections in the docstrings. But whatever is th

[2019-08-27 14:15] martinagvilas commented on #151
Hi! I'm working on this right now :) WIll submit a PR today

[2019-08-27 14:32] martinagvilas commented on #153
How is it going @WuraolaOyewusi? I'm interested in collaborating on this.

@datapythonista would it be useful to add a test at the beginning of `df.apply` asserting that the function to apply is not `int` or `float` (otherwise throw the error you described)? Or are you thinking of an even more abstract solution like throwing a type of error if the error comes from the `Series `class, and another t

[2019-08-27 14:48] datapythonista commented on #153
`int` and `float` are examples, you can also have `math.log` that expects a scalar, and should fail with the same new error. The solution is not trivial. An idea would be that when the `Series` is casted to something it can't, it raises a subclass of `TypeError` (e.g. `InvalidCastError`), then from `apply` this specific exception could be captured, and then I guess it's save to tell the user that

[2019-08-27 15:22] martinagvilas commented on #153
@datapythonista makes sense! I will try to implement something similar and tell you how it goes.

[2019-08-28 00:57] bhuvanakundumani commented on #144
@datapythonista

I tried running the validate_strings.py. It has doc.summary as well as doc.extended_summary. Please refer this screenshot -
<img width="809" alt="Screenshot 2019-08-28 at 6 20 51 AM" src="https://user-images.githubusercontent.com/3718211/63817911-20719680-c95c-11e9-98f6-5c5aee450202.png">

When i tried building the html - I got this output.
<img width="966" alt="Screenshot 2019-08

[2019-08-28 09:38] datapythonista opened #155 "Validate that titles in pandas are correctly capitalized"
See this issue in the pandas repo: https://github.com/pandas-dev/pandas/issues/26941

I think this is an interesting issue to work on. If you want to give it a try, better to add a comment in the original issue than here. Let me know if you have any questions.

[2019-08-28 09:40] datapythonista commented on #144
@bhuvanakundumani this is the problem you're dealing with: https://github.com/pandas-dev/pandas/issues/27055

Would be great if you can take that issue and fix it.

[2019-08-28 09:44] WuraolaOyewusi commented on #153
@martinagvilas . I haven't figured out a way to go about this yet.

[2019-08-28 14:15] sparalic commented on #152
@dujm and @datapythonista thank you for the suggestions. I’ve been busy with work. I will set aside time tonight to share what I have so far, so we can collaborate.

[2019-08-28 14:30] dujm commented on #152
Hi @sparalic, thanks for the update :)  But no stress if you are busy. Because I had time and was playing with the widgets. I should be able to send a PR today. Look forward to discussing with you and getting your input later.

[2019-08-28 16:22] datapythonista opened #156 "Update index parameter in pandas to_parquet"
In the documentation of `to_parquet` (https://dev.pandas.io/reference/api/pandas.DataFrame.to_parquet.html#pandas.DataFrame.to_parquet), for the index parameter, it says that when the value is `None`, the behavior depends on the engine.

I did a test, and I'd say that the index is kept with both engines, `pyarrow` and `fastparquet`. I guess that was a past behavior, and it wasn't updated. I'd say

[2019-08-28 16:23] datapythonista commented on #147
@WuraolaOyewusi I think this was merged, feel free to close this issue.

[2019-08-28 16:23] datapythonista commented on #137
@sara-02 has this been addressed, or is still wip?

[2019-08-28 16:25] #119 closed

[2019-08-28 16:25] #114 closed

[2019-08-28 20:16] dujm opened #159 "Create a website/blog"
Referring what Marc suggested in his last email,
`I think it could be nice if you want to create a website, a blog... to show your work, share what you're learning, and helping other people who can be interested in also contributing to pandas or other open source projects`

I have set up a GitHub Page to host the `pandas-mentoring` repo
https://python-sprints.github.io/pandas-mentoring/

Other sug

[2019-08-28 23:14] sparalic commented on #152
@datapythonista I will continue to play around with what I’ve done. Do you still want me to create a PR for the work I did on this?

[2019-08-28 23:17] datapythonista commented on #152
Sure. It may make sense later to get into a single dashboard the best of all, but not a problem to have more than a dashboard.

[2019-08-28 23:31] sparalic commented on #152
@datapythonista sounds great!! We can both experiment and learn and create a single dashboard that merges elements from both of our experiments.

[2019-08-29 00:20] bhuvanakundumani commented on #144
I will look into it.

[2019-08-29 05:12] galuhsahid commented on #156
I'd like to work on this, will open a PR at the pandas-dev repo later today

[2019-08-29 05:14] galuhsahid commented on #151
Done in #154, thank you @martinagvilas!

[2019-08-29 05:14] #151 closed

[2019-08-29 07:22] dujm commented on #152
Here is the [binder link](https://hub.gke.mybinder.org/user/python-sprints-pandas-mentoring-kdkg9ww1/notebooks/notebooks/docstring_error_interactive.ipynb) of my [notebook](https://github.com/python-sprints/pandas-mentoring/blob/master/notebooks/docstring_error_interactive.ipynb). You could run the interactive widgets.

[2019-08-29 10:11] datapythonista opened #161 "Validate blank lines after a class definition in pandas"
The Python style guides don't have a standard for whether there should be a blank line after a class definition or not. So both of the next cases are valid:
[code]
But having both is a bit distracting when reading the code. In  https://github.com/pandas-dev/pandas/pull/28209 there has been work in making the first case our standard. But to make sure we don't reintroduce incorrect cases, we should

[2019-08-29 11:55] WuraolaOyewusi opened #162 "Fix PR02 in docstrings"
@datapythonista . I'll like to attempt some of  [these](https://github.com/pandas-dev/pandas/issues/27976#) in pandas

For the *args, **kwargs Unknown parameters. I guess it's because they are on the same line or that : is written after **kwargs

I noticed many of the error docstrings errors such as `pandas.Series.str.slice_replace: Unknown parameters {stop, repl, start}` flags the parameters as U

[2019-08-29 12:35] datapythonista commented on #162
Regarding the `*args, **kwargs` we're happy with that, but we should update the script to not raise an error for it. Not sure if there is an issue in pandas for it already, but feel free to create  it if it doesn't, or send a PR.

Not sure about the problem in the docstring of `str.slice_replace` you copied, looks correct to me. It should be easy to debug the `validate_docstrings.py` script to get

[2019-08-31 09:34] galuhsahid commented on #150
I agree @martinagvilas, I think it's also helpful to have the same dataset to represent a complex dataframe, a simpler one, and other variations. I imagine a lot of people would be interested in transforming one to the other as well.

[2019-09-01 06:17] WuraolaOyewusi commented on #162
Could it be because *args and **kwargs are on the same line in the
docstring?

On Thu, 29 Aug 2019, 1:35 PM Marc Garcia, <notifications@github.com> wrote:

[2019-09-01 08:56] galuhsahid commented on #159
Thanks for setting this up @dujm! I think for the next step we shall have a specific directory in this repo to house our blog posts, and maybe we should have a specific blog post template (containing title, date, username etc.). Is there any step that I'm missing/is there any other alternative?

[2019-09-01 09:09] datapythonista commented on #159
In case it's useful, GitHub pages comes with Jekyll, a ruby static site generator, and all the pandas devs that blog that I know of, use Pelican, a Python static site generator.

[2019-09-01 09:11] datapythonista commented on #162
I think that's the problem, yes. What I meant is that this is correct, what is not correct is the script for reporting them. You'll have to change the script to "fix" those cases.

[2019-09-02 15:33] WuraolaOyewusi commented on #162
Ok Marc. I will check it out

[2019-09-02 17:47] Ayowolet commented on #161
Can I attempt this? I will have loads of questions if that's okay.

[2019-09-03 00:24] bhuvanakundumani commented on #144
@datapythonista - Have been trying validate_docstrings.py and understand that the following piece of code

[code]

is getting the value of attribute normalize (which is False by Default). This when it is passed to pydoc.getdoc is getting us the docstring of False.

Am kinda stuck here. Any pointers on how i should be proceeding with this? Thanks

[2019-09-03 12:49] datapythonista commented on #161
Sure @Ayowolet, thanks for the help. Let me know if you have any question.

[2019-09-03 12:56] datapythonista commented on #144
Thanks for looking into this @bhuvanakundumani. After that is executed, a `Docstring` object is created, and if you check this method, is the one that tries to find the actual object (and not wrappers of it):

https://github.com/pandas-dev/pandas/blob/master/scripts/validate_docstrings.py#L296

It's likely that the problem is in that function.

[2019-09-03 13:43] WuraolaOyewusi commented on #162
Hi @datapythonista . How is EuroSciPy going?

I was checking the validate_docstring.py.

![Screenshot 2019-09-03 at 2 10 42 PM](https://user-images.githubusercontent.com/42381276/64176363-364bf380-ce55-11e9-9825-28b55903f3fc.png).

From line '462'  . I'm wondering could the docstring error be because the parameters were set to 'None'?. Why do they seem to be extra? when the parameters in the funct

[2019-09-04 01:43] bhuvanakundumani commented on #144
@datapythonista - On inspecting the code here -
https://github.com/pandas-dev/pandas/blob/master/scripts/validate_docstrings.py#L296

I think the code in this snippet -
[code]
I think this line of code
[code]
should be
[code]
I tried the change and it reports the error -  "No summary found (a short summary in a single line should be " (SS01) for pandas.tseries.offsets instead of "Summary does not

[2019-09-04 21:19] dujm commented on #159
Thanks @datapythonista! I will have a detailed look at [Pelican](https://docs.getpelican.com/en/stable/) and then let's discuss @galuhsahid

[2019-09-04 22:09] jorisvandenbossche opened #163 "Update the performance comparison section of the IO docs"
In the IO doc page of the user guide, there is a section comparing the performance of some the supported IO methods: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#performance-considerations

This is already quite old, and would be nice to update this:

- add the parquet format to the compared set
- rerun the code and update the code-block with your runs

[2019-09-07 10:35] datapythonista commented on #162
I think running on an example and printing the value of those variables will be clearer than my explanations. But this is what is going on with an example.
[code]

- **doc_params**: `param1`, `param2`, `param3`
- **signature_params**: `param1`, `param2`
- **extra**: `param3`

The problem for the `args`, `kwargs` example is that you will have something like:
- **doc_params**:
  - `param1`
  - `*arg

[2019-09-07 11:34] datapythonista commented on #144
I think the change you propose will cause that properties and wrapped objects lose their docstring for the validation.

Not sure if `_to_original_callable` is well tested, if it's not it's probably worth adding unit tests for some known cases before fixing this bug.

I think the change to fix it should happen inside `_to_original_callable`.

Another useful test when we fix this would be to generat

[2019-09-08 16:49] dujm commented on #159
Hello @galuhsahid @datapythonista! Below is a screenshot of our blog (test version). I used Pelican to generate the website.

* Screenshot
![blog-website-screenshot](https://user-images.githubusercontent.com/30461000/64491488-4e62af00-d269-11e9-9cae-0264ad8fcf80.png)

Any suggestions? If not, I plan to upload two directories `blog` and `pelican-themes` to `pandas-mentoring/` and host the blog on `

[2019-09-10 08:12] WuraolaOyewusi commented on #162
@datapythonista . Ok, I will attempt this

[2019-09-10 11:27] datapythonista opened #165 "Fix `by` parameter in pandas plotting"
There is certain redundancy in pandas plotting, for example `Series.hist()` and `Series.plot.hist()`.

In https://github.com/pandas-dev/pandas/issues/28177 there is a proposal to make the API more consistent, and among other things to remove `Series.hist()` in favor of `Series.plot.hist()`.

But as pointed out in the next tickets, they are not exactly the same:

https://github.com/pandas-dev/panda

[2019-09-10 11:43] datapythonista commented on #159
Looks great. I think everything can leave in this repo, so feel free to open a PR. For the Pelican theme you may be interested in adding it as a git submodule.

For the output, with the directory structure you propose, if the blog is served directly from github pages, you'd have a url like https://les-pandanistas.org/output/. If another server is used, then the path can be changed.

One option is

[2019-09-10 13:29] martinagvilas commented on #165
Interesting! Would be happy to work on this, or split the hist and boxplot with somebody else if they want to attempt this as well (if that is possible).

[2019-09-10 13:45] datapythonista commented on #165
Not sure, but probably to small to split it. But don't worry, I've got as many issues as people can want to work on. :)

Let me know if you need help.

[2019-09-10 15:02] martinagvilas commented on #165
Great, I'll give it a go then.

[2019-09-10 20:33] dujm commented on #159
Thank you @datapythonista! This is very helpfu! I will try to implement these two points your suggested (theme and output rendering) and open a PR asap.

[2019-09-10 21:51] Ayowolet commented on #161
Hi Marc,

so I thought to add this portion of code to the ci/code_checks.sh... does it look correct?

    # Check for blank lines after the class definition
    MSG='Check for extra blank lines after the class definition' ; echo $MSG
    invgrep -R --include="*.rst" -E 'class.*:\n\n( )+"""' doc/source/
    RET=$(($RET + $?)) ; echo $MSG "DONE"

[2019-09-10 22:25] datapythonista commented on #161
The include should be for python files, not rst. Other than that looks good. Feel free to open a PR even if you're unsure, not a big deal if there are errors. But it's easier to review, and also see in the CI if it's working as expected.

[2019-09-10 23:59] bhuvanakundumani commented on #144
Thanks @datapythonista . Will look into the tests and get back to you.

[2019-09-11 22:13] datapythonista opened #166 "Release manager needed for pandas 0.24.3"
The next version of pandas will be `0.25.2`, but we'll release another version of `0.24`, the `0.24.3` since `pip install pandas` may fail in Python 2. The `pandas 0.24` series is the last compatible with Python 2, but numpy released a new Python 2 compatible version, that can be automatically installed with `pip install pandas`, and that is not compatible with `pandas 0.24`.

The proposed solutio

[2019-09-13 13:32] TomAugspurger commented on #166
Most of this is semi-automated in https://github.com/pandas-dev/pandas-release (using docker for the local stuff, and making pull requests to GitHub).

[2019-09-15 12:34] datapythonista opened #167 "Remove unused merge-pr script"
See conversation in https://github.com/pandas-dev/pandas/pull/28442.

The script is not used anymore, so we can delete it.

[2019-09-16 08:11] #167 closed

[2019-09-16 13:24] #156 closed

[2019-09-17 20:16] Aya-S commented on #166
How realistic do you think is it to have someone who is a noob attempt this?

[2019-09-17 20:33] datapythonista commented on #166
If you're motivated to do it, you should totally do it. It'll require a bit of time to understand things (like, building coda packages...), but there is nothing challenging that you can end up saying "I tried, but I wasn't good enough". :)

And of course you won't be alone, any question we're here to help.

[2019-09-19 15:53] datapythonista commented on #166
@Aya-S if you have some time in the next days, I'm happy to do the release together. I'll have to learn as much as you about it, but I'm sure we'll manage. :)

Let me know if you're interested.

[2019-09-20 06:13] jorisvandenbossche commented on #166
The PR that is needed for the 0.24.3 release (the fix to enable pandas to be installed from source on python 2.7) is https://github.com/pandas-dev/pandas/pull/28511

[2019-09-20 13:56] Aya-S commented on #166
@datapythonista this sounds like a very good deal! I couldn't bring myself to feel confident enough to attempt this at first.
how do we start :D?

[2019-09-20 14:13] datapythonista commented on #166
That's great!

First thing would be to get a branch with the version to release. That is basically branching from 0.24.2 and adding the commit from pandas-dev/pandas#28511 (which is not yet merged).

And after that, create a new release on GitHub, create packages for pip and conda, and update the website/documentation.

But we'll practice a bit before we do it for real. Tom sent us the instruction

[2019-09-20 16:23] Aya-S commented on #166
ok, great. Then I'll start with the document and let you know how things go!

[2019-09-21 12:35] datapythonista opened #168 "Add note about diversity to the team page"
In the new website we added a page to provide information about the pandas team: https://dev.pandas.io/community/team.html Unfortunately, and as you're aware, the team is not very diverse at the moment.

I've been told that it may not be a good thing to show "the wall of dudes".  You'll know better what's the message we're giving, but I guess it's true that the team page can discourage people from

[2019-09-21 19:41] Aya-S commented on #166
@datapythonista @TomAugspurger
I checked out the tag for v0.24.2
`commit cb00deb94500205fcb27a33cc1d0df79a9727f8b (HEAD -> trial_0_24_2, tag: v0.24.2)
Author: Joris Van den Bossche <jorisvandenbossche@gmail.com>
Date:   Tue Mar 12 22:12:11 2019 +0100

    RLS: 0.24.2
`

and was starting to follow the instructions but the makefile I have now, which is the following, doesn't match the instructions,

[2019-09-21 22:49] datapythonista commented on #166
The Makefile you need to use is not the pandas one, but the one in the repo for the pandas release: https://github.com/pandas-dev/pandas-release/blob/master/Makefile

[2019-09-22 10:34] Aya-S commented on #166
Makes sense (y) will get the right one.

On Sun, Sep 22, 2019, 12:49 AM Marc Garcia <notifications@github.com> wrote:

[2019-09-24 13:38] Aya-S commented on #166
Hello @datapythonista !
I'm at the stage of fetching the PR to merge to the v0.24.2 tag.
i used this command:
git fetch upstream pull/28511/head:test-branch
wondering about
1) how to test if the fetch succeeded
2) how to test the codebase for coherency and make sure the PR was properly fetched

[2019-09-24 14:08] datapythonista commented on #166
In git all repos are the same technically speaking, so you can do that with your fork to test is everything works.

But I'd move forward and check more the packaging part, I think that's the tricky part of the process, more than anything else. What do you think?

[2019-09-24 21:48] Aya-S commented on #166
I'm currently at: make docker-image docker-doc
it has been on for a while and not returning, not sure if it is supposed to take so long or if there is a certain bottleneck on my side.
Hopefully, it returns by morning so I could proceed :D

[2019-09-24 22:05] datapythonista commented on #166
I don't know much about docker, but I don't think that should take more than some minutes. @TomAugspurger do you know if it's normal that it takes time that step, or what can be the problem?

Thanks @Aya-S for working on this, sounds really promising, I think we'll have a new pandas release soon. :)

[2019-09-24 22:17] Aya-S commented on #166
fingers crossed :D !

[2019-09-24 23:02] TomAugspurger commented on #166
The docker step can take a while. We install latex for the pdf build which is a big download.

[2019-09-25 14:53] dorothykiz1 commented on #168
@datapythonista hello am a little confused do I add it to pandas,
 if so how do I get the link to the repo? also, I agree with the suggestion it's so needed

[2019-09-26 02:31] datapythonista commented on #168
Not sure I understand the question.

You need to fork and clone the pandas repo: https://github.com/pandas-dev/pandas/

And this is the file that needs to be changed: https://github.com/pandas-dev/pandas/blob/master/web/pandas/community/team.md

The file is moved and slightly changed in https://github.com/pandas-dev/pandas/pull/28582, so your changes may conflict when that PR is merged. The confli

[2019-09-26 08:59] Aya-S commented on #166
Hey guys!
I went through the steps till `make conda test`
the output files of both `make pip-test make conda-test` are attached
[conda-test.txt](https://github.com/python-sprints/pandas-mentoring/files/3656706/conda-test.txt)
[pip-test-out.txt](https://github.com/python-sprints/pandas-mentoring/files/3656707/pip-test-out.txt)

understandably, I can't execute `make push-tag` so skipped it.

created

[2019-09-26 11:25] jorisvandenbossche commented on #166
What version of conda and conda-smithy do you have installed?

[2019-09-26 13:24] Aya-S commented on #166
Conda: 4.7.12
Conda-smithy: 2.3.3

On Thu, Sep 26, 2019, 1:25 PM Joris Van den Bossche <
notifications@github.com> wrote:

[2019-09-26 13:28] jorisvandenbossche commented on #166
That seems an old release of conda-smithy, they are currently at 3.4.8 (https://github.com/conda-forge/conda-smithy/releases), so I would try to upgrade that, and see if that solves the problem.

[2019-09-26 13:31] Aya-S commented on #166
you're right, that's very weird indeed because my first instinct was to do a conda update and I thought i had the latest version. thanks, will make sure I have the latest version

[2019-09-26 13:37] datapythonista commented on #166
If `conda env create` and `conda env update` installs the wrong version when using the `environment.yml`, may be it make sense to force a minimum version in that file? (e.g. `conda-smithy>=3.4`)

[2019-09-26 13:55] Aya-S commented on #166
I didn't create a conda env using the environment.yml file actually
guess it wasn't mentioned anywhere :D.
will try it out

[2019-09-26 14:08] datapythonista commented on #166
Feel free to add it to the instructions. `conda env create` from the root of the pandas-release repo should create the environment with the dependencies needed for the release.

[2019-09-26 14:33] Aya-S commented on #166
Yup, let me do that.
There is a typo in the environment.yml file will edit it as well.

On Thu, Sep 26, 2019, 4:08 PM Marc Garcia <notifications@github.com> wrote:

[2019-09-26 15:41] Aya-S commented on #166
So, after using the conda env based on environment.yml things worked fine (Y)

now i'm at the step that says

Should I actually do that or leave this for now until we do some further testing on the artefacts of the build?

[2019-09-26 16:38] datapythonista commented on #166
Do you have the packages built then? If that's the case, I think we're ready to start again for real when the PR we want to release is merged. Or am I missing something?

[2019-09-27 15:25] Aya-S commented on #166
well, I am definitely missing something.
at which point are the packages built?
I assumed, `make conda-forge` and `make wheels` are the rules that build the binaries?
they succeeded yesterday but afterwardds I couldn't find any .whl packages under the "pandas-release" dir.

and surly enough, upon checking the scripts for both rules no building seems to be taking place, as far as I could tell. as i

[2019-09-28 19:09] TomAugspurger commented on #166
The only package built locally is the sdist. The binaries (wheels and conda packages) are built on CI services. `make conda-forge` and `make wheels` create commits and push to a branch, but you would need to open the pull requests on GitHub through your browser once it's time to do this for real.

[2019-09-29 10:37] Aya-S commented on #166
OK great, this makes sense. Thanks @TomAugspurger.
I put the built sdist on a dummy release on my fork: https://github.com/Aya-S/pandas/releases/tag/v0.24.3.
Can you confirm that there is nothing more to do at this point until the branch is ready for the actual build?
what I did was that I executed the commands till `make wheels`
skipping `make push-tag` and this block:
`git checkout -b <TAG>.x`
`

[2019-09-29 17:28] sparalic commented on #134
Closes: fix punctuation in Timestamp/Timedelta docstrings #28053 in pandas

[2019-09-29 17:28] #134 closed

[2019-10-02 14:08] martinagvilas opened #169 "Unable to install pandas from source"
I'm no longer able to install pandas from source. I followed the installation steps described [here](https://pandas.pydata.org/pandas-docs/stable/development/contributing.html#contributing-to-the-code-base). I'm able to create the `pandas-dev` conda environment successfully, but when I run `python setup.py build_ext --inplace -j 4`, I get the following error:

[code]

It seems like tempita is not

[2019-10-02 16:05] datapythonista commented on #169
Can you run `conda env update` from the root directory and retry. Didn't know about tempita, not sure if it's a dependency we just added.

[2019-10-02 16:22] martinagvilas commented on #169
It works after running `conda env update`, thanks!

[2019-10-02 16:22] #169 closed

[2019-10-02 22:52] TomAugspurger commented on #166
Yep, that sounds about right.

I *suspect* that we'll want a pandas maintainer to build the sdist, since
only we'll be able to upload
things to GitHub and push to master.

After that (push-tag), you'll be able to pick things up again.

On Sun, Sep 29, 2019 at 5:37 AM Aya Salama <notifications@github.com> wrote:

[2019-10-07 11:24] Aya-S commented on #166
when the branch is ready, I can build the sdist(tar) for someone with the needed permission to upload.

[2019-10-10 04:53] WuraolaOyewusi commented on #163
@jorisvandenbossche  @datapythonista
Hello, Is this still open?
I've checked pandas but i'm just asking again.
If it is. I will like to do this

[2019-10-10 04:58] datapythonista commented on #163
Yes, it'll be great if you can work on this. You can see the latest version of the doc here: https://dev.pandas.io/docs/user_guide/io.html#performance-considerations

Let me know if you need any help, and you can tag me when you open the PR, if you want a review.

Thanks @WuraolaOyewusi!

[2019-10-10 05:02] WuraolaOyewusi commented on #163
Ok marc. I will do just that.

[2019-10-11 07:50] #125 closed

[2019-10-29 17:49] sara-02 commented on #168
@dorothykiz1 I assume this issue is fixed now, AFAIK the PR is merged.

[2019-10-30 12:45] sara-02 commented on #168
Fixed in https://github.com/pandas-dev/pandas/pull/28630

[2019-10-30 12:45] #168 closed

[2019-10-30 12:47] sara-02 commented on #152
@dujm @sparalic Can we close this issue now?

[2019-10-31 08:44] dujm commented on #152
@sara-02 Hey! I closed it. Thanks for reminding.

[2019-10-31 08:44] #152 closed

[2019-11-04 07:56] #159 closed

[2019-11-06 18:51] datapythonista opened #172 "Create logo for Les pandanistas"
I'm at the pandas sprint at PyData NYC, and we've got a very talented artist, @MarsBarLee, who is happy to work on a logo for _Les pandanistas_.

Creating this issue so you can give her feedback. She already draw some cute pandas in a paper.

[2019-11-06 19:39] MarsBarLee commented on #172
![proposedlogo](https://user-images.githubusercontent.com/46167686/68331437-f7c7f480-00a2-11ea-9638-4482ebe876d0.JPG)
Hello, this is Mars, at PyData NYC, and this my current sketch. It has a cute panda, the official _pandas_ logo as bamboo, and the Python snakes circling them. This yin-yang symbol represents the harmoney pandas brings to the world, haha. :)

[2019-11-07 20:23] datapythonista commented on #172
@python-sprints/pandas-mentoring what do you think about this? Do you have to give @MarsBarLee feedback so she can move forward?

[2019-11-07 22:19] martinagvilas commented on #172
I really like it @MarsBarLee. The only suggestion I would have is to make the pandas a little bit less cute (not so smiley maybe?). But that is just a preference. Thanks for doing this!

[2019-11-08 08:26] dorothykiz1 commented on #172
I love the python snakes and the sketch, maybe it would really be nice to see the panda with its colors (black and white) for it to be more clear, otherwise, you are amazingly talented @MarsBarLee you are, thank you for taking the time.

[2019-11-08 13:56] BhagyaC commented on #172
Nice work  @MarsBarLee <https://github.com/MarsBarLee>.

On Fri, Nov 8, 2019, 13:56 Dorothy Kabarozi <notifications@github.com>
wrote:

[2019-11-12 19:44] rsdpyenugula commented on #84
Same here I am getting an error when I hit the link. Can you add me and also Why not Slack?